.symptom-report__wrapper {
  --background: var(--color-bg-pastel-tiffany-blue);
}

.symptom-report {
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--size-xxxs);
    margin-bottom: var(--size-m);
    padding-top: var(--topbar-size);

    ion-icon {
      width: var(--size-xl);
      height: var(--size-xl);
    }
  }

  .intro {
    text-align: center;
  }

  .symptom-report__filters-cta {
    margin-top: var(--size-xl);
    margin-bottom: var(--size-m);
  }
}
