@import 'src/theme/base/mixins';

.start-dose-ready-to-inject-waiting-to-start-injection {
  padding: var(--topbar-size) var(--size-m) var(--size-m);

  img {
    width: 350px;
    height: auto;
    margin: 0 auto;
  }
}
