<div class="start-dose-ready-to-inject-waiting-to-start-injection">
  <h1 class="font-heading-1--bold">We’re ready to inject.</h1>
  <p>Pinch about an inch of skin at the injection site, then press and hold the injector down to start the
    dose.<br />The app
    will detect when you start.</p>
  <img src="/assets/images/start-dose-ready-to-inject-waiting-for-injection.gif">
  <h4>Waiting for you to begin injection</h4>
  <div class="loader"></div>
  <p>The app will <strong>detect when you inject</strong> and <strong>advance automatically.</strong></p>
</div>
