<div class="dosing-demo-try-again-message">
  <h1 class="font-heading-1--bold">For this demo let’s try that again</h1>
  <img src="assets/images/dosing-try-again.svg">
  <p>For the correct injection experience:</p>
  <ol>
    <li>Wait for the injector to reset (red lights become solid white)</li>
    <li>Follow the app prompts to begin the injection.</li>
    <li><strong>Hold the injector down until the app shows a completed injection (10 seconds).</strong></li>
  </ol>
  <ng-container *ngIf="waitingForDeviceConnted">
    <p>Waiting for injector to be ready...</p>
    <div class="loader"></div>
  </ng-container>

  <ng-container *ngIf="!waitingForDeviceConnted">
    <ion-button 
      class="hotspot-element" 
      (click)="retryInjection()"
      fill="outline" color="light">
      Retry injection
    </ion-button>
  </ng-container>
</div>




