@import 'src/theme/base/mixins';

.dosing-demo-try-again-message {
  max-width: 290px;
  margin: 0 auto;
  color: var(--color-white);
  text-align: center;

  h1 {
    margin-bottom: 40px;
  }

  ol {
    text-align: left;
  }

  ion-button {
    margin-bottom: var(--size-xxs);
  }

  .loader {
    border-color: var(--color-white);
    border-bottom-color: rgba(var(--color-white--rgb), 0.3);
  }
}
