<div class="dosing-demo-try-again-message">
  <h1 class="font-heading-1--bold">For this demo let’s try that again</h1>

  <ng-container *ngIf="waitingForDeviceConnected">
    <p>Waiting for injector to be ready...</p>
    <div class="loader"></div>
  </ng-container>

  <ng-container *ngIf="!waitingForDeviceConnected">
    <ion-button
      class="hotspot-element"
      (click)="retryInjection()"
      fill="outline" color="light">
      Retry injection
    </ion-button>
  </ng-container>
</div>
