@import 'src/theme/base/mixins';

.manage-refill-delivery-page {
  .manage-refill-delivery-page__content {
    .field-wrapper {
      margin-bottom: var(--size-l);
      padding-bottom: var(--size-xs);
      border-bottom: 1px solid var(--color-gray);

      .field-label {
        @include heading-5;
      }
    }
  }
}
