HOST_PASS=grCO$JUpP3lv
HOST_USER=qnl8kb1x6fte
HOST_PORT=22
HOST_DOMAIN=onebetterllc.com
HOST_IP=208.109.26.224
SSH_COMMAND=ssh -oHostKeyAlgorithms=+ssh-rsa qnl8kb1x6fte@208.109.26.224
APPLE_PASS=n#CQc9QJ0s58Hq8@xYN3
APPLE_SPECIFIC_PASS=gsfb-amtc-pube-zxpg
