<div class="time-traveling" [ngClass]="{ 'is-playing-video': isPlayingVideo, 'is-ended-video': endedVideo }">
  <div class="time-traveling__top-content">
    <h1 class="font-heading-1--bold">Get ready to <br>time travel</h1>
    <p>To show the experience and <br>benefits of ongoing usage, the <br>demo will fast-forward 5 doses into <br>the future to dose #6 (week 8).</p>
    <div class="buttons-container">
      <ion-button class="hotspot-element" fill="outline" expand="block" color="light" (click)="playVideo()">
        Ok, got it!
      </ion-button>
    </div>
  </div>

  <div class="time-traveling__video-wrapper">
    <h1 class="font-heading-1--bold">Time traveling...</h1>
    <img *ngIf="showingTimeTravel" alt="time traveling calendar" src="/assets/gifs/time-travel.gif">
  </div>

  <div class="time-traveling__bottom-content">
    <h1 class="font-heading-1--bold">Welcome to the future</h1>
    <p>You're now ready to administer <br>dose #6 (week 8).</p>
    <ion-button class="hotspot-element" fill="outline" expand="block" color="light" (click)="closeBackdrop()">
      Let's go!
    </ion-button>
  </div>
</div>
