.welcome-sign-up {
  max-width: 300px;
  margin: 0 auto;
  color: var(--color-white);
  text-align: center;

  h1 {
    margin-top: 0;
    margin-bottom: 40px;
  }

  ion-img {
    max-width: 160px;
    margin: 0 auto var(--size-xxl);
  }

  p {
    font-size: var(--font-size-paragraph-l);
  }

  ion-input {
    text-align: left;
  }

  ion-button {
    margin-top: 48px;
  }
}
