@import 'src/theme/base/mixins';

.datepicker {
  max-height: 375px;
  padding-bottom: var(--space-m);
  overflow-y: auto;

  .month {
    width: 100%;
  
    &:nth-child(n+2) {
      margin-top: var(--space-m);
    }
  
    .month__title {
      td {
        @include heading-5;
        color: var(--color-gray-dark);
        font-weight: var(--font-weight-medium);
        text-align: center;
      }
    }
  
    .month__weekdays,
    .month__week {
      td {
        @include paragraph-s;
      }
    }
  
    .month__weekdays {
      td {
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xxxs);
        color: var(--color-gray-medium);
      }
    }
    
    .month__week {
      td {
        padding-top: calc(var(--space-xxxxs) / 2);
        padding-bottom: calc(var(--space-xxxxs)  / 2);
        color: var(--color-primary-dark-blue);

        span {
          display: block;
          width: 38px;
          margin: 0 auto;
          height: 36px;
          line-height: 36px;
        }
  
        &.is-today,
        &.is-selected {
          font-weight: var(--font-weight-bold);

          span {
            border-radius: 5px;
          }
        }
  
        &.is-today {
          color: var(--color-white);

          span {
            background-color: var(--color-primary-purple);
          }

          &.is-selected {
            color: var(--color-gray-dark);
          }
        }
  
        &.is-selected {
          font-weight: var(--font-weight-bold);

          span {
            background-color: var(--color-bg-pastel-purple);
          }
        }
      }
    }
  }

  &:not(.is-continuous) {
    display: none;

    .month {
      &:not(.is-active) {
        display: none;
      }
    }
  }
}
