@import 'src/theme/base/mixins';

.datepicker__input {
  position: relative;

  .field-wrapper {
    margin-bottom: 0;
  }

  ion-input {
    --padding-end: var(--space-xl) !important;
    min-height: 48px !important;
    pointer-events: none;
  }

  ion-icon {
    position: absolute;
    top: 12px;
    right: 10px;
    z-index: 50;
    font-size: var(--font-size-heading-3);
  }
}

.datepicker {
  max-height: 375px;
  overflow-y: auto;

  .month {
    width: 100%;
  
    &:nth-child(n+2) {
      margin-top: var(--space-m);
    }
  
    .month__title {
      td {
        @include heading-5;
        font-weight: var(--font-weight-medium);
        text-align: center;
      }

      .prev-month,
      .next-month {
        ion-button {
          --padding-end: 0;
          --padding-start: 0;
        }

        ion-icon {
          color: var(--color-gray-dark);
        }
      }
    }
  
    .month__weekdays,
    .month__week {
      td {
        @include paragraph-s;
        text-align: center;
      }
    }
  
    .month__weekdays {
      td {
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xxxs);
        color: var(--color-gray-medium);
      }
    }
    
    .month__week {
      td {
        padding-top: calc(var(--space-xxxxs) / 2);
        padding-bottom: calc(var(--space-xxxxs)  / 2);

        span {
          display: block;
          width: 36px;
          height: 36px;
          margin: 0 auto;
          line-height: 38px;
          text-align: center;
        }
  
        &.is-today,
        &.is-selected {
          font-weight: var(--font-weight-bold);

          span {
            border-radius: 5px;
          }
        }

        &.is-selected {
          font-weight: var(--font-weight-bold);

          span {
            background-color: var(--color-bg-pastel-purple);
          }
        }
  
        &.is-today {
          color: var(--color-white);

          span {
            background-color: var(--color-primary-purple);
          }
        }
      }
    }
  }

  &:not(.is-continuous) {
    display: none;

    .month {
      &:not(.is-active) {
        display: none;
      }
    }
  }
  
  &.is-continuous {
    &.max-view-1 {
      .month {
        position: absolute;
        opacity: 0;
        margin-top: 0;

        &:not(.is-active) {
          pointer-events: none;
        }

        &.is-active {
          position: initial;
          opacity: 1;
        }
      }
    }
  }
}
