@import 'src/theme/base/mixins';

.datepicker {
  &.limit-size {
    max-height: 500px;
    padding-bottom: var(--space-m);
    overflow-y: auto;
  }

  .month {
    width: 100%;
  
    &:nth-child(n+2) {
      margin-top: var(--space-m);
    }
  
    .month__title {
      td {
        @include heading-5;
        color: var(--color-gray-dark);
        font-weight: var(--font-weight-medium);
        text-align: center;
      }
    }
  
    .month__weekdays,
    .month__week {
      td {
        @include paragraph-s;
        width: 35px;
        padding-top: var(--space-xxxs);
        padding-bottom: var(--space-xxxs);
        text-align: center;
      }
    }
  
    .month__weekdays {
      margin-top: var(--space-xxxs);
  
      td {
        color: var(--color-gray-medium);
      }
    }
    
    .month__week {
      td {
        color: var(--color-primary-dark-blue);
  
        &.is-today,
        &.is-selected {
          border-radius: 5px;
        }
  
        &.is-today {
          background-color: var(--color-primary-purple);
          color: var(--color-white);
        }
  
        &.is-selected {
          background-color: var(--color-bg-pastel-purple);
          font-weight: var(--font-weight-bold);
        }
      }
    }
  }

  &:not(.is-continuous) {
    display: none;

    .month {
      &:not(.is-active) {
        display: none;
      }
    }
  }
}
