<div class="datepicker__wrapper">
  <div *ngIf="!continuous" class="datepicker__input">
    <ion-input 
      #datePickerInput 
      color="purple" 
      fill="outline" 
      mode="md" 
      label="{{ labelInput }}" 
      labelPlacement="floating" 
      (click)="openPicker()" 
    ></ion-input>
  </div>
  <div 
    #datePickerList 
    class="datepicker" 
    [ngClass]="{ 
      'is-continuous': continuous, 
      'max-view-1': monthsPerView === 1, 
    }">
    <table *ngFor="let month of months; let i = index" class="month {{ i === 0 ? 'is-active' : null }}">
      <tbody>
        <tr class="month__title">
          <td colspan="1" class="prev-month" *ngIf="!continuous || (continuous && monthsPerView !== 'auto')">
            <ion-button (click)="prevMonth()" fill="clear">
              <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
            </ion-button>
          </td>
          <td [attr.colspan]="!continuous || (continuous && monthsPerView !== 'auto') ? 5 : 7">{{ month.name }} {{ month.year }}</td>
          <td colspan="1" class="next-month" *ngIf="!continuous || (continuous && monthsPerView !== 'auto')">
            <ion-button (click)="nextMonth()" fill="clear" fill="clear">
              <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
            </ion-button>
          </td>
        </tr>
        <tr class="month__weekdays">
          <td *ngFor="let day of weekdays">{{ day | ellipsis: 3 : false }}</td>
        </tr>
        <tr *ngFor="let week of month.weeks" class="month__week">
          <td 
            *ngFor="let day of week.days" 
            [ngClass]="{ 
              'is-today': day.isToday,
              'is-selected': day.isSelected 
            }"
            (click)="selectDate($event, month.name, day.number, month.year)"
          >
            <span>{{ day.number }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
