@import 'src/theme/base/mixins';

:root {
  --dosing-box-height: 440px;
  --dosing-box-indicator-size: 88px;
}

.start-dose-ready-to-inject__dosing {
  .dosing-counter {
    height: 130px;
    margin-top: var(--space-m);

    .dosing-counter__wrapper {
      margin-bottom: var(--space-xxs);
    }

    .dosing-counter__digits {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-xs);
      width: 175px;
      margin: 0 auto;
    }

    .digit {
      width: 80px;
      box-sizing: border-box;
      padding: var(--space-xxs) var(--space-xs);
      background-color: var(--color-white);
      border: 2px solid var(--color-primary-purple);
      border-radius: 16px;
      font-size: var(--font-size-display);
      line-height: var(--font-line-height-display);
      font-weight: var(--font-weight-extra-light);
      text-align: center;
    }

    p {
      margin: 0;
      font-size: var(--font-size-paragraph-xl);
    }
  }

  .dosing-box {
    position: relative;
    width: 80px;
    height: var(--dosing-box-height);
    margin: var(--space-m) auto 44px;
    background-color: var(--color-white);
    border-radius: 40px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 100%;
      background-color: var(--color-primary-purple);
      border-radius: 40px;
      transition-property: height;
      transition-duration: 300ms;
      transition-timing-function: ease;
      overflow: hidden;
    }

    .dosing-box__indicator {
      position: absolute;
      z-index: 50;
      top: 0;
      left: calc(50% - 44px);
      width: 88px;
      height: 88px;
      object-fit: cover;
      transition-property: top;
      transition-duration: 300ms;
      transition-timing-function: ease;
    }
  }

  &.time-9 {
    .dosing-box {
      &::before {
        height: 95%;
      }

      .dosing-box__indicator {
        top: 5%;
      }
    }
  }

  &.time-8 {
    .dosing-box {
      &::before {
        height: 85%;
      }

      .dosing-box__indicator {
        top: 10%;
      }
    }
  }

  &.time-7 {
    .dosing-box {
      &::before {
        height: 80%;
      }

      .dosing-box__indicator {
        top: 15%;
      }
    }
  }

  &.time-6 {
    .dosing-box {
      &::before {
        height: 75%;
      }

      .dosing-box__indicator {
        top: calc(30% - calc(var(--dosing-box-indicator-size) / 2));
      }
    }
  }

  &.time-5 {
    .dosing-box {
      &::before {
        height: 65%;
      }

      .dosing-box__indicator {
        top: calc(40% - calc(var(--dosing-box-indicator-size) / 2));
      }
    }
  }

  &.time-4 {
    .dosing-box {
      &::before {
        height: 55%;
      }

      .dosing-box__indicator {
        top: calc(50% - calc(var(--dosing-box-indicator-size) / 2));
      }
    }
  }

  &.time-3 {
    .dosing-box {
      &::before {
        height: 45%;
      }

      .dosing-box__indicator {
        top: calc(60% - calc(var(--dosing-box-indicator-size) / 2));
      }
    }
  }

  &.time-2 {
    .dosing-box {
      &::before {
        height: 35%;
      }

      .dosing-box__indicator {
        top: calc(70% - calc(var(--dosing-box-indicator-size) / 2));
      }
    }
  }

  &.time-1 {
    .dosing-box {
      &::before {
        height: 25%;
      }

      .dosing-box__indicator {
        top: calc(80% - calc(var(--dosing-box-indicator-size) / 2));
      }
    }
  }

  &.is-done {
    .dosing-counter {
      .digit {
        display: inline-block;
        width: auto;
        border-color: var(--color-primary-green);
      }
    }

    .dosing-box {
      &::before {
        height: 20%;
      }

      .dosing-box__indicator {
        top: calc(90% - calc(var(--dosing-box-indicator-size) / 2));
      }
    }
  }
}
