<div class="start-dose-ready-to-inject__dosing" [ngClass]="{
    'is-done': doseDone,
    'is-dosing': startDosing,
    'is-error-dosing': errorDosing,
  }">

  <h1 class="font-heading-1--bold">{{ title }}</h1>

  <div>
    <p>
      <b>{{ doseStatus }}</b>
    </p>
    <p>
      Please keep the injector pressed down until directed to lift.
    </p>
  </div>

  <div class="dosing-box">
    <ion-img *ngIf="!doseDone" class="dosing-box__indicator" src="/assets/images/dosing-box-indicator.svg"></ion-img>
    <ion-img *ngIf="doseDone" class="dosing-box__indicator"
      src="/assets/images/dosing-box-indicator--done.svg"></ion-img>
  </div>
</div>
