@import 'src/theme/base/mixins';

:root {
  --dosing-box-height: 440px;
  --dosing-box-indicator-size: 88px;
}

@keyframes dosingAnimateIndicator {
  from {
    top: 0;
  }
  to {
    top: calc(100% - var(--dosing-box-indicator-size));
  }
}
@keyframes dosingAnimateBar {
  from {
    height: 95%;
  }
  to {
    height: 20%;
  }
}

.start-dose-ready-to-inject__dosing {
  .dosing-counter {
    height: 130px;
    margin-top: var(--size-m);

    .dosing-counter__wrapper {
      margin-bottom: var(--size-xxs);
    }

    .dosing-counter__digits {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--size-xs);
      width: 175px;
      margin: 0 auto;
    }

    .digit {
      width: 80px;
      box-sizing: border-box;
      padding: var(--size-xxs) var(--size-xs);
      background-color: var(--color-white);
      border: 2px solid var(--color-primary-purple);
      border-radius: 16px;
      font-size: var(--font-size-display);
      line-height: var(--font-line-height-display);
      font-weight: var(--font-weight-extra-light);
      text-align: center;
    }

    p {
      margin: 0;
      font-size: var(--font-size-paragraph-xl);
    }
  }

  .dosing-box {
    position: relative;
    width: 80px;
    height: var(--dosing-box-height);
    margin: var(--size-m) auto 44px;
    background-color: var(--color-white);
    border-radius: 40px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 100%;
      background-color: var(--color-primary-purple);
      border-radius: 40px;
      overflow: hidden;
    }

    .dosing-box__indicator {
      position: absolute;
      z-index: 50;
      top: 0;
      left: calc(50% - 44px);
      width: 88px;
      height: 88px;
      object-fit: cover;
    }
  }

  &.is-dosing {
    &:not(.is-done) {
      .dosing-box {
        &::before {
          animation-name: dosingAnimateBar;
          animation-duration: 10000ms;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
        }
  
        .dosing-box__indicator {
          animation-name: dosingAnimateIndicator;
          animation-duration: 10000ms;
          animation-fill-mode: forwards;
          animation-timing-function: linear;
        }
      }
  
      &.is-error-dosing {
        .dosing-box {
          &::before {
            animation-play-state: paused;
          }
    
          .dosing-box__indicator {
            animation-play-state: paused;
          }
        }
      }
    }
  }

  &.is-done {
    .dosing-counter {
      .digit {
        display: inline-block;
        width: auto;
        border-color: var(--color-primary-green);
      }
    }

    .dosing-box {
      &::before {
        height: 20%;
      }

      .dosing-box__indicator {
        top: calc(100% - var(--dosing-box-indicator-size));
      }
    }
  }
}

.dosing-error-alert {
  max-width: 300px;
}
