.overlay {
  position: absolute;
  top: -75vh;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 75vh;
  transition-property: height, top;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(.57,.21,.69,1.25);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }

  &.is-full-screen {
    top: -100vh;
    height: 100vh;
  }

  &.transition-fade {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 400ms;
    transition-timing-function: ease-in-out;
  }

  .overlay__wrapper {
    position: relative;
    z-index: 100;
    display: grid;
    grid-auto-rows: max-content auto;
    width: 100%;
    height: 100%;
  }

  .overlay__header,
  .overlay__content {
    background-color: var(--color-primary-dark-blue);
  }

  .overlay__header {
    grid-row: 1;
    padding-top: 30px;

    .logo {
      width: 135px;
      margin: 0 auto;
    }

    .ellipse {
      width: 100%;
      margin-top: 20px;
    }
  }

  .overlay__content {
    grid-row: 2;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 30px 20px;
    color: var(--color-white);
  }

  .overlay__fold {
    position: absolute;
    top: calc(100% - 5px);
    left: calc(50% - 81px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 96px;
    border-bottom-left-radius: 81px;
    border-bottom-right-radius: 81px;
    background-color: var(--color-primary-dark-blue);
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);

    ion-icon {
      font-size: 64px;

      &.close {
        color: var(--color-white);
        font-size: 32px;
      }
    }
  }
  
  &.is-open {
    top: 0;

    &::before {
      opacity: 1;
      transition-delay: 500ms;
      transition-timing-function: ease-in;
    }

    &.transition-fade {
      opacity: 1;
      transition-timing-function: ease-in;
    }
  }
}
