@import 'src/theme/base/mixins';

automagic-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 150;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  &.is-shown {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    .overlay__content {
      transform: translateY(0);
    }
  }
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 150;

  &.is-open {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .overlay__content {
    position: relative;
    z-index: 160;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    overflow: auto;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .overlay__template {
    h3 {
      margin-bottom: var(--size-s);
      font-weight: var(--font-weight-bold);
    }

    p {
      font-size: var(--font-size-paragraph-l);
      font-weight: var(--font-weight-medium);
    }

    ion-button {
      display: inline-block;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .overlay__actions {
    margin-top: var(--size-m);
    display: flex;
    flex-direction: column;
    gap: var(--size-s);
  }
}
