@import 'src/theme/base/mixins';

.activity-page__wrapper {
  --background: var(--color-bg-pastel-beige);
}

.activity-page {
  padding-top: var(--topbar-size);
  padding-bottom: var(--space-s);

  h1 {
    margin-bottom: var(--space-l);
    text-align: center;
  }
}
