<ion-content [fullscreen]="true">
  <section class="community-feed-page">
    <automagic-hero 
      *ngIf="heroConfig"
      [color]="heroConfig.color" 
      [template]="heroConfig.template" 
    ></automagic-hero>

    <div class="community-feed-page__actions">
      <div class="action hotspot-element">
        <ion-icon src="/assets/icons/add.svg" size="extra-large"></ion-icon>
        <p>Add post</p>
      </div>
    </div>

    <div class="community-feed-page__content ion-padding">
      <automagic-feed-card [config]="post" *ngFor="let post of posts"></automagic-feed-card>
    </div>
  </section>
</ion-content>
