@import 'src/theme/base/mixins';

.first-time-dose__video-detail {
  width: 100vw;
  height: calc(100vh - calc(var(--slider-page-content-min-size) + 48px));

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
