<ion-content [fullscreen]="true" [scrollY]="false">
  <section class="connect-device">
    <div *ngIf="currentScreen === ConnectDeviceScreens.Initial" class="connect-screen">
      <div class="header">
        <div class="header__asset">
          <img src="/assets/images/welcome-step-2-2.svg" alt="Power on your Aria Autoinjector">
        </div>
      </div>
      <div class="content">
        <h1 class="font-heading-1--bold">Let's connect your Aria Autoinjector.</h1>
        <p>Power on the Aria Autoinjector.</p>
        <p>The light above the power button should blink to indicate the power is on and ready to pair.</p>

        <div class="actions">
          <ion-button color="purple" size="large" (click)="startConnecting()">
            Connect Now
          </ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="currentScreen === ConnectDeviceScreens.Connecting" class="connect-screen">
      <div class="header">
        <div class="header__asset">
          <img src="/assets/images/welcome-step-2-3.svg" alt="Connecting to your Aria Autoinjector">
        </div>
      </div>
      <div class="content">
        <h1 class="font-heading-1--bold">Connecting...</h1>
        <p>Searching for Aria Autoinjectors...</p>
        <p>Ensure that your Aria is powered on and in range while pairing.</p>
        <div class="loader"></div>
      </div>
    </div>

    <div *ngIf="currentScreen === ConnectDeviceScreens.Connected" class="connect-screen">
      <div class="header">
        <div class="header__asset">
          <img src="/assets/images/welcome-step-2-4.svg" alt="Connected to your Aria Autoinjector">
        </div>
      </div>
      <div class="content">
        <h1 class="font-heading-1--bold">Connected!</h1>
        <p>Your Aria Autoinjector is now connected to your phone.</p>
        <p>You're ready to proceed to the next step.</p>

        <div class="actions">
          <ion-button color="purple" size="large" (click)="finishConnection()">
            Continue
          </ion-button>
        </div>
      </div>
    </div>
  </section>
</ion-content>