<ion-content [fullscreen]="true" [scrollY]="false">
  <section class="connect-device">
    <div *ngIf="currentScreen === ConnectDeviceScreens.Initial" class="connect-screen">
      <div class="header has-asset">
        <div class="header__asset asset-wrapper">
          <img src="/assets/images/welcome-step-2-2.gif" alt="Power on your Aria Autoinjector">
        </div>
      </div>
      <div class="content has-template">
        <div class="content-wrapper">
          <h1 class="font-heading-1--bold">Let's connect your Aria Autoinjector</h1>
          <p>Power on the Aria Autoinjector.<br><br>The light above the power button should blink to indicate the power
            is on and ready to pair.</p>
        </div>

        <div class="actions">
          <ion-button color="purple" size="large" (click)="startConnecting()">
            Connect Now
          </ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="currentScreen === ConnectDeviceScreens.Connecting" class="connect-screen">
      <div class="header has-asset">
        <div class="header__asset asset-wrapper">
          <img src="/assets/images/welcome-step-2-3.gif" alt="Connecting to your Aria Autoinjector">
        </div>
      </div>
      <div class="content has-template">
        <div class="content-wrapper">
          <h1 class="font-heading-1--bold">Connecting...</h1>
          <p>Searching for Aria Autoinjectors...<br>Ensure that your Aria is powered on and in range while pairing.</p>
          <div class="loader"></div>
        </div>
      </div>
    </div>

    <div *ngIf="currentScreen === ConnectDeviceScreens.Connected" class="connect-screen">
      <div class="header has-asset">
        <div class="header__asset asset-wrapper">
          <img src="/assets/images/welcome-step-2-4.svg" alt="Connected to your Aria Autoinjector">
        </div>
      </div>
      <div class="content has-template">
        <div class="content-wrapper">
          <h1 class="font-heading-1--bold">Connected!</h1>
          <p>Your Aria Autoinjector has successfully been paired with this phone.</p>
        </div>

        <div class="actions">
          <ion-button color="purple" size="large" (click)="finishConnection()">
            Continue
          </ion-button>
        </div>
      </div>
    </div>
  </section>
</ion-content>
