<ion-content [fullscreen]="true" class="ion-padding">
  <section class="styleguide-page">
    <ion-button color="purple" [routerLink]="['/styleguide/components']">Go to Components</ion-button>

    <section class="styleguide-page__section">
      <h1>Mobile Typography</h1>
      <div class="description">
        <p>Nunito font family should be used for iOs App.</p>
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Class</th>
            <th>Context</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <h1 class="font-display">Display</h1>
            </td>
            <td><code>font-display</code></td>
            <td>Numbers in Statistics</td>
          </tr>
          <tr>
            <td>
              <h1 class="font-heading-1--bold">Heading 1 Bold</h1>
            </td>
            <td><code>font-heading-1--bold</code></td>
            <td>Page title</td>
          </tr>
          <tr>
            <td>
              <h1>Heading 1</h1>
            </td>
            <td><code>font-heading-1</code></td>
            <td>Second part / Additional Page title</td>
          </tr>
          <tr>
            <td>
              <h2>Heading 2</h2>
            </td>
            <td><code>font-heading-2</code></td>
            <td>Section title</td>
          </tr>
          <tr>
            <td>
              <h3>Heading 3</h3>
            </td>
            <td><code>font-heading-3</code></td>
            <td>Subsection title</td>
          </tr>
          <tr>
            <td>
              <h4>Heading 4</h4>
            </td>
            <td><code>font-heading-4</code></td>
            <td>Paragraph title</td>
          </tr>
          <tr>
            <td>
              <h5>Heading 5</h5>
            </td>
            <td><code>font-heading-5</code></td>
            <td>? Menu Selected item</td>
          </tr>
          <tr>
            <td>
              <p class="font-paragraph-xl">Paragraph XL</p>
            </td>
            <td><code>font-paragraph-xl</code></td>
            <td>Body copy</td>
          </tr>
          <tr>
            <td>
              <p class="font-paragraph-l">Paragraph L</p>
            </td>
            <td><code>font-paragraph-l</code></td>
            <td>Body copy</td>
          </tr>
          <tr>
            <td>
              <p class="font-paragraph-m">Paragraph M</p>
            </td>
            <td><code>font-paragraph-m</code></td>
            <td>Body copy</td>
          </tr>
          <tr>
            <td>
              <p class="font-paragraph-s">Paragraph S</p>
            </td>
            <td><code>font-paragraph-s</code></td>
            <td>Body copy</td>
          </tr>
          <tr>
            <td>
              <p class="font-paragraph-xs">Paragraph XS</p>
            </td>
            <td><code>font-paragraph-xs</code></td>
            <td>Body copy</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="styleguide-page__section">
      <h1>Spacing</h1>
      <div class="description">
        <p>The organization of space is key to every great design. Spatial system provide rules that give the designs a consistent rhythm, constrain decision making, and help teams stay aligned. Uniformity on a spatial level allows your product to be more consistent, the team to communicate better, and reduce the number of decisions designers have to make in a day.</p>
      </div>
      <h2>Spacing Scale</h2>
      <div class="description">
        <p>Based on our grid system preferred method is an 8 px linear scale for elements and a 4 px scale for spacing icons or small text blocks. Typography will use 4 px baseline which means the line-heights of the font are divisible by four. <br>In exceptional cases, it is allowed to use no more than two indents in a row.</p>
      </div>
      <h3>Mobile Horizontal Spacing</h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>CSS Variable</th>
            <th>Size</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p style="text-align: center;"><strong>XXXXS</strong></p>
            </td>
            <td><code>--size-xxxxs</code></td>
            <td>4px / 0.25rem</td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;"><strong>XXXS</strong></p>
            </td>
            <td><code>--size-xxxs</code></td>
            <td>8px / 0.5rem</td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;"><strong>XXS</strong></p>
            </td>
            <td><code>--size-xxs</code></td>
            <td>12px / 0.75rem</td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;"><strong>XS</strong></p>
            </td>
            <td><code>--size-xs</code></td>
            <td>16px / 1rem</td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;"><strong>S</strong></p>
            </td>
            <td><code>--size-s</code></td>
            <td>16px / 1rem</td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;"><strong>M</strong></p>
            </td>
            <td><code>--size-m</code></td>
            <td>24px / 1.5rem</td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;"><strong>L</strong></p>
            </td>
            <td><code>--size-l</code></td>
            <td>32px / 2rem</td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;"><strong>XL</strong></p>
            </td>
            <td><code>--size-xl</code></td>
            <td>32px / 2rem</td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;"><strong>XXL</strong></p>
            </td>
            <td><code>--size-xxl</code></td>
            <td>40px / 2.5rem</td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;"><strong>XXXL</strong></p>
            </td>
            <td><code>--size-xxxl</code></td>
            <td>56px / 3.5rem</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="styleguide-page__section">
      <h1>Colors</h1>
      <div class="description">
        <p>The color system helps you apply color to your UI in a meaningful way. Dark and light variants of each color can be applied to your UI in different ways. Color themes are designed to be harmonious, ensure accessible text, and distinguish UI elements and surfaces from one another.</p>
        <h4>Subsections</h4>
        <ul>
          <li>Primary colors</li>
          <li>Backgrounds colors</li>
          <li>Grayscale colors</li>
          <li>States and Interface colors</li>
          <li>Skin tone colors</li>
        </ul>
      </div>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Color</th>
            <th>CSS Variable</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p style="text-align: center;">Blue</p>
            </td>
            <td>
              <div class="color color--blue"></div>
            </td>
            <td><code>--color-primary-blue</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Tiffany Blue</p>
            </td>
            <td>
              <div class="color color--tiffany-blue"></div>
            </td>
            <td><code>--color-primary-tiffany-blue</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Dark Blue</p>
            </td>
            <td>
              <div class="color color--dark-blue"></div>
            </td>
            <td><code>--color-primary-dark-blue</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Green</p>
            </td>
            <td>
              <div class="color color--green"></div>
            </td>
            <td><code>--color-primary-green</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Purple</p>
            </td>
            <td>
              <div class="color color--purple"></div>
            </td>
            <td><code>--color-primary-purple</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Salmon</p>
            </td>
            <td>
              <div class="color color--salmon"></div>
            </td>
            <td><code>--color-primary-salmon</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Honey Yellow</p>
            </td>
            <td>
              <div class="color color--honey-yellow"></div>
            </td>
            <td><code>--color-primary-honey-yellow</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Pastel Mint</p>
            </td>
            <td>
              <div class="color color--pastel-mint"></div>
            </td>
            <td><code>--color-bg-pastel-mint</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Pastel Tiffany Blue</p>
            </td>
            <td>
              <div class="color color--pastel-tiffany-blue"></div>
            </td>
            <td><code>--color-bg-pastel-tiffany-blue</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Pastel Lime</p>
            </td>
            <td>
              <div class="color color--pastel-lime"></div>
            </td>
            <td><code>--color-bg-pastel-lime</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Pastel Purple</p>
            </td>
            <td>
              <div class="color color--pastel-purple"></div>
            </td>
            <td><code>--color-bg-pastel-purple</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Pastel Blue</p>
            </td>
            <td>
              <div class="color color--pastel-blue"></div>
            </td>
            <td><code>--color-bg-pastel-blue</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Pastel Beige</p>
            </td>
            <td>
              <div class="color color--pastel-beige"></div>
            </td>
            <td><code>--color-bg-pastel-beige</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Pastel Salmon</p>
            </td>
            <td>
              <div class="color color--pastel-salmon"></div>
            </td>
            <td><code>--color-bg-pastel-salmon</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Pastel Honey Yellow</p>
            </td>
            <td>
              <div class="color color--pastel-honey-yellow"></div>
            </td>
            <td><code>--color-bg-pastel-honey-yellow</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Super Light Gray</p>
            </td>
            <td>
              <div class="color color--gray-super-light"></div>
            </td>
            <td><code>--color-gray-super-light</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Light Gray</p>
            </td>
            <td>
              <div class="color color--gray-light"></div>
            </td>
            <td><code>--color-gray-light</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Gray</p>
            </td>
            <td>
              <div class="color color--gray"></div>
            </td>
            <td><code>--color-gray</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Gray Medium</p>
            </td>
            <td>
              <div class="color color--gray-medium"></div>
            </td>
            <td><code>--color-gray-medium</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Dark Gray</p>
            </td>
            <td>
              <div class="color color--gray-dark"></div>
            </td>
            <td><code>--color-gray-dark</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Skintone 1</p>
            </td>
            <td>
              <div class="color color--skintone-1"></div>
            </td>
            <td><code>--color-skintone-1</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Skintone 2</p>
            </td>
            <td>
              <div class="color color--skintone-2"></div>
            </td>
            <td><code>--color-skintone-2</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Skintone 3</p>
            </td>
            <td>
              <div class="color color--skintone-3"></div>
            </td>
            <td><code>--color-skintone-3</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Skintone 4</p>
            </td>
            <td>
              <div class="color color--skintone-4"></div>
            </td>
            <td><code>--color-skintone-4</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Skintone 5</p>
            </td>
            <td>
              <div class="color color--skintone-5"></div>
            </td>
            <td><code>--color-skintone-5</code></td>
          </tr>
          <tr>
            <td>
              <p style="text-align: center;">Skintone 6</p>
            </td>
            <td>
              <div class="color color--skintone-6"></div>
            </td>
            <td><code>--color-skintone-6</code></td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>
</ion-content>
