@import 'src/theme/base/mixins';

automagic-alert {
  position: absolute;
  top: 0;
  left: 0;  
}

.alert {
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  &::before {
    @include overlay-element;
    content: '';
    z-index: 50;
  }

  .alert__content {
    position: relative;
    top: 100%;
    z-index: 100;
    width: 100%;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 16px 16px 0px 0px;
    background-color: var(--color-white);
    text-align: center;

    .alert__template {
      p {
        font-size: var(--font-size-paragraph-l);
        font-weight: var(--font-weight-medium);
      }
      
      ion-button {
        display: inline-block;
      }
    }
  }

  &.is-full-mode {
    display: grid;
    grid-template-rows: auto max-content;

    .alert__content {
      grid-row: 2;
      padding: var(--space-s) var(--space-m);
    }
  }

  &.is-open {
    pointer-events: initial;

    &::before {
      @include overlay-element--is-shown;
    }
  }
}
