<form [formGroup]="signUpFormGroup" class="welcome-sign-up" (ngSubmit)="registerEmail()" autocomplete="off">
  <h1 class="font-heading-1--bold">This is demo is for internal use.</h1>
  <p>Enter your company email access</p>
  <ion-input 
    color="light" 
    fill="outline" 
    mode="md" 
    placeholder="email@company.com"
    errorText="{{ signUpFormGroup.get('email')?.errors?.['pattern'] ? 'Enter a valid email' : null }}"
    formControlName="email"
    >
  </ion-input>

  <ion-button type="submit" color="light" fill="outline" [disabled]="!signUpFormGroup.valid">Submit</ion-button>
</form>
