<div class="calendar-edit-schedule">
  <h1 class="font-heading-1--bold">Edit Schedule</h1>
  <div class="calendar-edit-schedule__actions">
    <h5>Regimen</h5>
    <a class="button--link">
      <ion-icon slot="start" src="/assets/icons/edit.svg"></ion-icon>
      Bulk edit
    </a>
  </div>

  <div class="calendar-edit-schedule__schedule">
    <div class="schedule-row">
      <a class="button--link">
        <ion-icon slot="start" name="add-circle-outline" size="large"></ion-icon>
        Add dose
      </a>
    </div>
    <div 
      class="schedule-row dose" 
      [ngClass]="{ 'is-marked': dose.marked }" 
      *ngFor="let dose of homeConfig.doses | reverse; let i = index">

      <div class="dose-label">Dose {{ 6 - (i) }}</div>
      <div class="dose-picker">
        <automagic-datepicker 
          [value]="dose.date" 
          [continuous]="false" 
        ></automagic-datepicker>
      </div>
      <div class="dose-delete">
        <ion-button fill="clear" color="purple" class="no-padding" *ngIf="!dose.marked">
          <ion-icon slot="icon-only" src="/assets/icons/delete.svg"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</div>
