/** Color CSS Variables **/
:root {
  --color-white: #FFFFFF;
  --color-white--rgb: 255, 255, 255;
  --color-black: #000000;
  --color-transparent: transparent;

  /** primary colors **/
  --color-primary-dark-blue: #092847;
  --color-primary-dark-blue--rgb: 9, 40, 71;
  --color-primary-tiffany-blue: #6BB7B3;
  --color-primary-green: #83B03C;
  --color-primary-purple: #684BAB;
  --color-primary-blue: #78B9E8;
  --color-primary-salmon: #FF7858;
  --color-primary-salmon--light: #FF876A;
  --color-primary-honey-yellow: #FFB852;

  /** background colors **/
  --color-bg-pastel-mint: #C1F6D9;
  --color-bg-pastel-tiffany-blue: #C7F5ED;
  --color-bg-pastel-lime: #D9FCBD;
  --color-bg-pastel-purple: #E2DEFF;
  --color-bg-pastel-blue: #CEEBFF;
  --color-bg-pastel-beige: #F6F4E7;
  --color-bg-pastel-salmon: #FFE0D9;
  --color-bg-pastel-honey-yellow: #FFF0CA;
  --color-bg-pastel-green: #E3E9DE;
  --color-bg-pastel-green-dark: #BFF7DB;

  /** grayscale colors **/
  --color-gray-super-light: #FAFAFB;
  --color-gray-light: #EDEDED;
  --color-gray: #DADADA;
  --color-gray-medium: #A2A4A6;
  --color-gray-dark: #616A74;

  /** skintone colors **/
  --color-skintone-1: #FFD6BA;
  --color-skintone-2: #F7B089;
  --color-skintone-3: #D28767;
  --color-skintone-4: #BD6853;
  --color-skintone-5: #803F3B;
  --color-skintone-6: #421B0C;

  /** colors for black background **/
  --color-bg-dark-gray-blue-dark: #2F3842;
  --color-bg-dark-gray-blue: #545E6A;
  --color-bg-dark-light-salmon: #FF876A;
  --color-bg-dark-light-honey-yellow: #FFC36C;
  --color-bg-dark-light-green: #AED86B;
  --color-bg-dark-light-tiffany-blue: #73E9E3;
  --color-bg-dark-light-blue: #81CAFF;
  --color-bg-dark-light-purple: #BEA1FF;

  /** font colors **/
  --color-text: #0A1414;

  /** **/
  --rating-field-level-1: var(--color-primary-salmon);
  --rating-field-level-2: #FF9955;
  --rating-field-level-3: var(--color-primary-honey-yellow);
  --rating-field-level-4: #E4D960;
  --rating-field-level-5: var(--color-primary-green);
}
