/** Color CSS Variables **/
:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  /** primary colors **/
  --color-primary-dark-blue: #092847;
  --color-primary-tiffany-blue: #6BB7B3;
  --color-primary-green: #83B03C;
  --color-primary-purple: #684BAB;
  --color-primary-blue: #78B9E8;
  --color-primary-salmon: #FF7858;
  --color-primary-honey-yellow: #FFB852;

  /** background colors **/
  --color-bg-pastel-mint: #C1F6D9;
  --color-bg-pastel-tiffany-blue: #C7F5ED;
  --color-bg-pastel-lime: #D9FCBD;
  --color-bg-pastel-purple: #E2DEFF;
  --color-bg-pastel-blue: #CEEBFF;
  --color-bg-pastel-beige: #F6F4E7;
  --color-bg-pastel-salmon: #FFE0D9;
  --color-bg-pastel-honey-yellow: #FFF0CA;
  --color-bg-pastel-green: #E3E9DE;
  
  /** grayscale colors **/
  --color-gray-super-light: #FAFAFB;
  --color-gray-light: #EDEDED;
  --color-gray: #DADADA;
  --color-gray-medium: #A2A4A6;
  --color-gray-dark: #616A74;

  /** skintone colors **/
  --color-skintone-1: #FFD6BA;
  --color-skintone-2: #F7B089;
  --color-skintone-3: #D28767;
  --color-skintone-4: #BD6853;
  --color-skintone-5: #803F3B;
  --color-skintone-6: #421B0C;

  /** font colors **/
  --color-text: #0A1414;
}
