.field {
  &-wrapper {
    text-align: left;
    margin-bottom: var(--size-m);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-label {
    @include paragraph-l;
    display: inline-block;
    margin-top: 0;
    font-weight: var(--font-weight-bold);
  }

  &--required {
    .field-label {
      position: relative;

      &::after {
        content: '*';
        position: absolute;
        right: calc(var(--size-xxxs) * -1);
        color: var(--ion-color-salmon);
      }
    }
  }

  &-checkboxes {
    column-count: 2;

    ion-checkbox {
      &:nth-child(n+2) {
        margin-top: var(--size-xxxs);
      }
    }
  }

  &--slider {
    display: grid;
    grid-template-columns: max-content auto max-content;
    align-items: center;
    margin-bottom: var(--size-xs);

    .field-label {
      @include paragraph-m;
      grid-column: 2;
      margin-bottom: 0;
    }

    ion-icon {
      grid-column: 1;
      margin-right: var(--size-xs);
      font-size: var(--size-xxl);

      + .field-label {
        @include heading-5;
      }
    }

    ion-toggle {
      grid-column: 3;
    }

    .field-value {
      @include paragraph-m;
      margin: 0;
      font-weight: var(--font-weight-bold);
    }
  }

  &--disabled {
    ion-input {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}
