.field {
  &-wrapper {
    text-align: left;
    margin-bottom: var(--size-m);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-label {
    @include paragraph-l;
    display: inline-block;
    margin-top: 0;
    font-weight: var(--font-weight-bold);
  }

  &--required {
    .field-label {
      position: relative;

      &::after {
        content: '*';
        position: absolute;
        right: calc(var(--size-xxxs) * -1);
        color: var(--ion-color-salmon);
      }
    }
  }

  &-checkboxes {
    column-count: 2;

    ion-checkbox {
      &:nth-child(n+2) {
        margin-top: var(--size-xxxs);
      }
    }
  }
}
