:root {
  /** rewrites for tabs ionic component **/
  --ion-tab-bar-color-selected: var(--color-primary-purple);
}

ion-button {
  --padding-end: 32px;
  --padding-start: 32px;
  --border-radius: 24px;
  --border-width: 2px;
  height: 48px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--font-size-paragraph-m);
  line-height: var(--font-line-height-paragraph-m);
  font-weight: var(--font-weight-extrabold);
  text-transform: none;

  &:not(.button-round)[shape="circle"] {
    --border-radius: 50%;

    &.button-has-icon-only {
      --padding-end: 10px;
      --padding-start: 10px;
    }
  }

  &.button-disabled {
    opacity: 1;

    &:not(.button-outline) {
      --ion-color-base: var(--color-gray-medium);
    }

    &.button-outline {
      --border-color: var(--color-gray-medium);
      --color: var(--color-gray-medium);
    }
  }

  &.is-hidden {
    display: none;
  }

  &.no-padding {
    --padding-end: 6px;
    --padding-start: 6px;
    height: 35px;
  }
}

ion-input {
  &.input-fill-outline {
    --border-width: 2px;

    &.sc-ion-input-md-h {
      --border-color: var(--color-gray-medium);
      --border-radius: 16px;
      --color: var(--color-black);
    }

    &.has-focus {
      &.ion-valid {
        &.sc-ion-input-md-h {
          &.ion-color-purple {
            --highlight-color: var(--color-primary-purple);
          }

          &.ion-color-salmon {
            --highlight-color: var(--color-primary-salmon);
          }

          &.ion-color-green {
            --highlight-color: var(--color-primary-green);
          }
        }
      }
    }
    
    &.input-disabled {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}

ion-checkbox {
  --size: 32px;
  --checkbox-background-checked: var(--color-white);
  --checkmark-color: var(--color-primary-purple);
  --checkmark-width: 2px;
  font-weight: var(--font-weight-regular);
}

ion-checkbox::part(container) {
  border-radius: 8px;
  border: 2px solid var(--color-gray);
}

.checkbox-wrapper {
  flex-direction: row-reverse;
}

ion-icon {
  &.icon-medium {
    font-size: var(--size-m) !important;
  }

  &.icon-extra-large {
    font-size: var(--size-xxl) !important;
  }
}

ion-datetime-button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-xs);

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: 50;
    width: var(--size-m);
    height: var(--size-m);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  &::before {
    top: 12px;
    left: calc(50% - 40px);
    background-image: url(/assets/icons/date-range.svg);
  }

  &::after {
    top: 11px;
    right: 8px;
    background-image: url(/assets/icons/date-time.svg);
  }

  &::part(native) {
    @include paragraph-m;
    position: relative;
    width: 50%;
    margin: 0;
    padding-top: var(--size-xxs);
    padding-right: calc(var(--size-m) + var(--size-xxs));
    padding-bottom: var(--size-xxs);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-medium);
    text-align: left;
  }  
}

ion-modal#modal-datepicker {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);

  .ion-page {
    padding: var(--size-s);
  }

  .buttons-container {
    margin-top: var(--size-xxs);
    text-align: right;
  }
}
