/** Spacing CSS Variables **/
:root {
  --size-xxxxs: 0.25rem;
  --size-xxxs: 0.5rem;
  --size-xxs: 0.75rem;
  --size-xs: 1rem;
  --size-s: 1.25rem;
  --size-m: 1.5rem;
  --size-l: 2rem;
  --size-xl: 2.5rem;
  --size-xxl: 3rem;
  --size-xxxl: 3.5rem;
  --size-xxxxl: 4rem;
}
