/** Spacing CSS Variables **/
:root {
  /** horizontal **/
  --space-xxxxs: 0.25rem;
  --space-xxxs: 0.5rem;
  --space-xxs: 0.75rem;
  --space-xs: 1rem;
  --space-s: 1.25rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 2.5rem;
  --space-xxl: 3rem;
  --space-xxxl: 3.5rem;
}
