.hero {
  position: relative;
  padding-top: calc(var(--topbar-size) + var(--space-s));
  overflow: hidden;

  .hero__bg {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: -50%;
    width: 200%;
    height: 150%;
    border-radius: 50%;
    background-color: inherit;
  }
  
  .hero__template,
  .hero__actions {
    padding-right: var(--space-s);
    padding-left: var(--space-s);
    text-align: center;
  }

  .hero__template {
    > *:first-child {
        margin-top: 0;
    }
  }

  .hero__image {
    margin: 0;
    padding: 0;

    ion-img {
      max-width: 280px;
      margin: 0 auto;
    }
  }
}
