<div 
  [hidden]="!initialized"
  class="hero" 
  [style.background-color]="color
    ? 'var(' + color + ')' 
    : 'var(--color-white)'">

  <div class="hero__layer"></div>
  <div class="hero__content">
    <div *ngIf="template" class="hero__template" [innerHTML]="template"></div>
    <div *ngIf="actions.length > 0" class="hero__actions">
      <ion-button 
        *ngFor="let button of actions; let i = index"
        color="purple" 
        (click)="button.action ? button.action($event) : null" 
        [fill]="i % 2 === 1 && actions.length > 1 ? 'outline': null">
        {{ button.label }}
      </ion-button>
    </div>
  </div>
  <ion-img class="hero__image" src="{{ image }}"></ion-img>
</div>
