<form [formGroup]="addSymptomFormGroup" autocomplete="off">
  <!-- Rate Field with icons / field: feelingOverall -->
  <!-- Textfield Custom notes / field: customNote -->
  <!-- Checkboxes Symptoms / field: symptoms -->
  <ion-button fill="clear" color="purple">
    <ion-icon slot="start" src="/assets/icons/add-photo.svg"></ion-icon>
    Add photo
  </ion-button>
  <!-- Rate Field with words / field: severity -->
  <!-- Rate Field with words / field: energyLevels -->
  <!-- Rate Field with words / field: sleepQuality -->
</form>
