@import 'src/theme/base/mixins';

.add-symptom-form {
  padding-bottom: var(--space-xxl);

  h1 {
    margin-bottom: var(--space-m);
    text-align: center;
  }

  .add-symptom-form__subtitle {
    margin-top: var(--space-m);
    margin-bottom: var(--space-l);
    text-align: center;
  }

  .add-photo-cta {
    margin-bottom: var(--space-m);

    ion-button {
      --padding-start: var(--space-xxxs);
    }
  }
}
