<ion-menu contentId="automagic" *ngIf="config.debuggingDeviceMode">
  <ion-header>
    <ion-toolbar>
      <ion-title>Device Debugging</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <div class="device-debugging">
        <div class="toolbar">
          <ion-button (click)="copyDebuggingLogs()" class="copy" color="light">
            <ion-icon slot="icon-only" size="medium" name="copy-outline"></ion-icon>
          </ion-button>
        </div>
        <div class="logs" id="device-debugging-logs"></div>
      </div>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<ion-app id="automagic" class="automagic {{ config.userDevice?.model }}" [ngClass]="{ 'iphone-8': config.userDevice?.model ? getModelDeviceNumber(config.userDevice?.model) < 10.5 : null }">
  <automagic-alert></automagic-alert>
  <automagic-topbar></automagic-topbar>
  <main 
    #main 
    role="main" 
    class="automagic__wrapper" 
    [ngClass]="{ 
      'is-full-screen': config.fullScreen
    }">

    <ion-router-outlet></ion-router-outlet>
    <ion-tabs>
      <automagic-bottom-toolbar></automagic-bottom-toolbar>
    </ion-tabs>
  </main>
</ion-app>
