<ion-menu contentId="automagic" *ngIf="config.debuggingDeviceMode">
  <ion-header>
    <ion-toolbar>
      <ion-title>Device Debugging</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <div id="device-debugging-content"></div>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<ion-app id="automagic" class="automagic">
  <automagic-alert></automagic-alert>
  <automagic-topbar></automagic-topbar>
  <main 
    #main 
    role="main" 
    class="automagic__wrapper" 
    [ngClass]="{ 
      'is-full-screen': config.fullScreen
    }">

    <ion-router-outlet></ion-router-outlet>
    <ion-tabs>
      <automagic-bottom-toolbar></automagic-bottom-toolbar>
    </ion-tabs>
  </main>
</ion-app>
