.automagic__wrapper {
  &.is-full-screen {
    z-index: 200;
  }
}

.device-debugging {
  display: grid;
  grid-template-rows: auto max-content;
  height: 100%;

  #device-debugging-logs {
    grid-row: 1;
    max-height: 100%;
    overflow-y: scroll;

    .action {
      padding-top: var(--size-xxs);
      border-top: 2px solid var(--color-gray-medium);
    }
  }

  #device-debugging-stats {
    grid-row: 2;
    padding-top: var(--size-xxs);
    border-top: 2px solid var(--color-gray-medium);

    span {
      margin-left: var(--size-xxs);
    }
  }
}
