<ion-header class="topbar" [style.background-color]="'var(' + config?.bgColor + ')'">
  <ion-toolbar class="topbar__toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="leftElementAction()">
        <ng-container *ngIf="!activityScope && !settingsScope">
          <ion-icon slot="icon-only" src="/assets/icons/user.svg"></ion-icon>
        </ng-container>

        <ng-container *ngIf="activityScope || settingsScope">
          <ion-icon slot="icon-only" size="medium" color="dark" name="chevron-back-outline"></ion-icon>
        </ng-container>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <div *ngIf="layoutConfig.rightCornerEl; else default">
        <div 
          class="timer"
          *ngIf="layoutConfig.rightCornerEl.type === 'timer'">
          <span class="timer__label">{{ layoutConfig?.rightCornerEl?.timer|secondsToMinutes }}</span>
          <ion-icon src="/assets/icons/timer.svg"></ion-icon>
        </div>
      </div>
      <ng-template #default>
        <ion-button class="notifications-cta" (click)="goTo('notifications')">
          <div class="counter" *ngIf="config.pendingNotifications > 0">
            {{ config.pendingNotifications }}
          </div>
          <ion-icon slot="icon-only" src="/assets/icons/notifications.svg"></ion-icon>
        </ion-button>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>

  <automagic-backdrop ></automagic-backdrop>
</ion-header>
