.topbar {
  padding-bottom: var(--space-xxl);
}

.topbar__toolbar {
  --background: transparent;
  --border-width: 0 !important;

  ion-button {
    height: auto;
  }

  ion-icon {
    font-size: 44px;
  }
}
