<!-- Let's not use the background color for now. I'm wondering whether it's needed. -->
<!-- <ion-header class="topbar" [style.background-color]="'var(' + config?.bgColor + ')'" [style.z-index]="1000"> -->
<ion-header class="topbar" [style.z-index]="1000">

  <ion-toolbar class="topbar__toolbar">
    <ion-buttons slot="start">
      <ion-button (click)="leftElementHandler()" [ngClass]="{
        'hotspot-element': activityScope || settingsScope || resourcesScope,
      }">
        <ng-container *ngIf="!activityScope && !settingsScope && !resourcesScope">
          <ion-icon slot="icon-only" src="/assets/icons/user.svg"></ion-icon>
        </ng-container>

        <ng-container *ngIf="activityScope || settingsScope || resourcesScope">
          <ion-icon slot="icon-only" size="medium" color="dark" name="chevron-back-outline"></ion-icon>
        </ng-container>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-menu-button class="debugging-cta" *ngIf="layoutConfig.debuggingDeviceMode">
        <ion-icon name="hammer-outline"></ion-icon>
      </ion-menu-button>

      <ng-container *ngIf="!layoutConfig.debuggingDeviceMode">
        <div *ngIf="layoutConfig.rightCornerEl?.display; else default">
          <div class="timer" *ngIf="layoutConfig.rightCornerEl.type === 'timer'">
            <span class="timer__label">{{ layoutConfig?.rightCornerEl?.timer|secondsToMinutes }}</span>
            <ion-icon src="/assets/icons/timer.svg"></ion-icon>
          </div>
        </div>
        <ng-template #default>
          <automagic-log-button></automagic-log-button>

          <ion-button class="notifications-cta" [ngClass]="{
              'hotspot-element': config.pendingNotifications > 0,
            }" (click)="goTo('notifications')" [disabled]="config.pendingNotifications === 0">

            <div class="counter" *ngIf="config.pendingNotifications > 0">
              {{ config.pendingNotifications }}
            </div>
            <ion-icon slot="icon-only" src="/assets/icons/notifications.svg"></ion-icon>
          </ion-button>
        </ng-template>
      </ng-container>
    </ion-buttons>
  </ion-toolbar>

  <automagic-backdrop></automagic-backdrop>
</ion-header>