@import 'src/theme/base/mixins';

.topbar__toolbar {
  --background: transparent;
  --border-width: 0 !important;
  // z-index: 300;

  ion-button {
    height: auto;
  }

  ion-icon {
    font-size: 44px;
  }

  .debugging-cta {
    ion-icon {
      color: var(--color-text);
      font-size: var(--size-m);
    }
  }

  .timer {
    display: flex;
    align-items: center;

    .timer__label {
      z-index: 10;
      margin-right: calc(var(--size-xxs) * -1);
      padding: var(--size-xxxxs);
      padding-left: var(--size-xxs);
      border-top-left-radius: 66px;
      border-bottom-left-radius: 60px;
      background-color: var(--color-bg-pastel-beige);
      color: var(--color-primary-dark-blue);
      font-size: var(--font-size-paragraph-m);
      font-weight: var(--font-weight-extrabold);
      line-height: var(--font-line-height-heading-5);
    }
  }

  .notifications-cta {
    .counter {
      position: absolute;
      top: 22px;
      left: 21px;
      width: 16px;
      height: 16px;
      font-size: 10px;
      line-height: 18px;
      font-weight: var(--font-weight-extrabold);
      background-color: var(--color-primary-salmon);
      border-radius: 50%;
      color: var(--color-white);
      text-align: center;
    }
  }
}
