<ion-tab-bar 
  id="bottom-toolbar" 
  class="bottom-toolbar" 
  [ngClass]="{ 'is-open': isOpen }" 
  slot="bottom" 
  color="light"
  *ngIf="!excludedPaths.includes(currentRoute)">
  <ion-tab-button tab="home" [ngClass]="{'is-active': isActivePath('home')}">
    <ion-icon size="large" src="/assets/icons/home.svg"></ion-icon>
    Home
  </ion-tab-button>
  <ion-tab-button tab="activity" [ngClass]="{'is-active': isActivePath('activity')}">
    <ion-icon size="large" src="/assets/icons/activity.svg"></ion-icon>
    Activity
  </ion-tab-button>

  <ion-tab-button>
    <ion-button (click)="toggleOpen()" fill="solid" shape="circle" color="purple" size="large">
      <ion-icon slot="icon-only" [name]="isOpen ? 'close-outline' : 'add-outline'"></ion-icon>
    </ion-button>
  </ion-tab-button>

  <ion-tab-button tab="resources" [ngClass]="{'is-active': isActivePath('resources')}">
    <ion-icon size="large" src="/assets/icons/resources.svg"></ion-icon>
    Resources
  </ion-tab-button>
  <ion-tab-button tab="settings" [ngClass]="{'is-active': isActivePath('settings')}">
    <ion-icon size="large" src="/assets/icons/settings.svg"></ion-icon>
    Settings
  </ion-tab-button>

  <section class="bottom-toolbar__content">
    <div class="cta">
      <ion-img src="/assets/images/start-dose.svg"></ion-img>
      <ion-button 
        color="purple">
        Start dose
      </ion-button>
    </div>

    <div class="cta">
      <ion-img src="/assets/images/add-symptom.svg"></ion-img>
      <ion-button 
        color="purple">
        Add Symptom
      </ion-button>
    </div>
  </section>
</ion-tab-bar>
