automagic-bottom-toolbar {
  position: relative;
}

.bottom-toolbar {
  --bottom-toolbar-item-tab-size: 64px;

  position: relative;
  align-items: flex-start;
  height: var(--bottom-toolbar-item-tab-size);
  padding-bottom: var(--size-l);
  background-color: transparent;
  border: none;
  contain: inherit;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.1);

  &.visibility-hidden {
    display: none;
  }

  ion-tab-button {
    position: relative;
    height: var(--bottom-toolbar-item-tab-size);
    background-color: transparent;
    color: var(--color-gray-dark);
    font-size: var(--font-size-paragraph-xs);

    &:nth-child(3) {
      position: relative;
      bottom: 18px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: calc(50% - 22px);
      width: 44px;
      height: 0;
      background-color: var(--color-primary-purple);
      border-radius: 2px;
      transition: all 0.25s ease;
    }

    &.is-active {
      color: var(--color-primary-dark-blue);

      &::before {
        height: 4px;
      }
    }

    &.is-blocked {
      pointer-events: none;
    }
  }

  .bottom-toolbar__content {
    position: absolute;
    top: calc(var(--bottom-toolbar-item-tab-size) + var(--size-l));
    left: 0;
    display: flex;
    justify-content: center;
    gap: var(--size-xxs);
    width: 100%;
    overflow: hidden;

    .cta {
      text-align: center;

      ion-img {
        width: 120px;
        margin: 0 auto;
        padding: 0;
      }

      ion-button {
        margin-top: var(--size-xxs);
      }
    }
  }

  &.is-open {
    .bottom-toolbar__content {
      top: var(--bottom-toolbar-item-tab-size);
    }
  }
}
