<ion-tab-bar class="bottom-toolbar" slot="bottom" *ngIf="!excludedPaths.includes(currentRoute)">
  <ion-tab-button tab="home" [ngClass]="{'is-active': isActivePath('home')}">
    <ion-icon size="large" src="/assets/icon/home.svg"></ion-icon>
    Home
  </ion-tab-button>
  <ion-tab-button tab="activity" [ngClass]="{'is-active': isActivePath('activity')}">
    <ion-icon size="large" src="/assets/icon/activity.svg"></ion-icon>
    Activity
  </ion-tab-button>

  <ion-tab-button>
    <ion-button fill="solid" shape="circle" color="purple" size="large">
      <ion-icon slot="icon-only" name="add-outline"></ion-icon>
    </ion-button>
  </ion-tab-button>

  <ion-tab-button tab="resources" [ngClass]="{'is-active': isActivePath('resources')}">
    <ion-icon size="large" src="/assets/icon/resources.svg"></ion-icon>
    Resources
  </ion-tab-button>
  <ion-tab-button tab="settings" [ngClass]="{'is-active': isActivePath('settings')}">
    <ion-icon size="large" src="/assets/icon/settings.svg"></ion-icon>
    Settings
  </ion-tab-button>
</ion-tab-bar>
