<ion-content class="mindful-assistant-start-page__wrapper" [fullscreen]="true" [scrollY]="false">
  <section class="mindful-assistant-start-page ion-padding">
    <div class="mindful-assistant-start-page__content">
      <h1 class="font-heading-1--bold">Mindful Assistant</h1>
      <p>AutoMagic has partnered with <strong>Headspace</strong><br> to provide mindfulness exercises specific<br> to managing medication anxiety.</p>
      <p>Connect to <strong>Headspace</strong> to learn more:</p>
      <ion-button fill="outline" color="purple">
        Connect
      </ion-button>
    </div>
    <div class="mindful-assistant-start-page__asset">
      <ion-img src="/assets/images/resources-mindful-assistant-start.svg"></ion-img>
    </div>
  </section>
</ion-content>
