@import 'src/theme/base/mixins';

.welcome-page {
  display: grid;
  grid-template-rows: auto max-content;
  height: 100vh;
  padding-top: var(--topbar-size);

  &.step-1,
  &.step-2 {
    background-color: var(--color-bg-pastel-green);
  }

  &.step-3 {
    background-color: var(--color-bg-pastel-blue);
  }

  &.step-4 {
    background-color: var(--color-bg-pastel-honey-yellow);
  }

  &.step-5 {
    background-color: var(--color-bg-pastel-lime);
  }

  .welcome-page__asset {
    grid-row: 1;
    display: flex;
    align-items: center;
    width: 100vw;
    padding-top: var(--topbar-size) + var(--space-xs);

    .welcome-slide-asset {
      grid-row: 2;

      &:not(.swiper-slide-active) {
        opacity: 0 !important;
      }
  
      .welcome-slide-asset__wrapper {
        text-align: center;
      }
    }
  }

  .welcome-page__content {
    grid-row: 2;
    display: grid;
    grid-template-rows: max-content auto;
    gap: var(--space-xxxxs);
    height: 370px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 16px 16px 0px 0px;
    background-color: var(--color-white);

    .welcome-page__navigation {
      grid-row: 1;
      padding-top: var(--space-l);

      &.visibility-hidden {
        display: none;
      }

      .swiper-pagination {
        position: initial;

        .swiper-pagination-bullet {
          &:first-child {
            display: none;
          }

          &-active {
            background: var(--color-primary-dark-blue);
          }
        }
      }
    }

    swiper {
      grid-row: 2;
    }

    .welcome-page__slide {
      display: grid;
      grid-template-rows: auto auto max-content;
      gap: 8px;
      max-width: 100vw;
      padding: 0 var(--space-s) var(--space-m);
      box-sizing: border-box;
      text-align: center;
      overflow-y: scroll;

      &:not(.swiper-slide-active) {
        opacity: 0 !important;
      }

      .text-wrapper {
        grid-row: 1;

        h1 {
          margin-bottom: 24px;
        }
    
        h3 {
          margin-bottom: 4px;
        }
    
        p {
          margin-bottom: 16px;
    
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .cards-wrapper {
        grid-row: 2;

        automagic-card {
          margin-bottom: var(--space-xs);

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .form-wrapper {
        .field-label {
          @include paragraph-s;
          margin-top: 0;
          font-weight: var(--font-weight-bold);
        }

        .field-wrapper {
          text-align: left;
        }
      }

      .button-wrapper {
        grid-row: 3;
      }
    }
  }
}

.welcome-backdrop-message {
  text-align: center;
}
