<ion-content [fullscreen]="true" [scrollY]="false">
  <div #videoWrapper class="welcome-page__video-wrapper">
    <div *ngIf="isFullPowerMode">
      <video
        #videoTag
        id="welcome-video-intro"
        src="/assets/videos/welcome.mp4"
        [attr.playsinline]="isFullPowerMode"
      ></video>
    </div>

    <div *ngIf="!isFullPowerMode">
      <ion-img alt="welcome introduction animation" src="/assets/gifs/welcome-screen.gif"></ion-img>
    </div>

  </div>

  <automagic-slider-page
    #sliderPage
    [slides]="slides"
    (onNextSlide)="slideNext($event)"
  ></automagic-slider-page>
</ion-content>
