.welcome-page__video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-bg-pastel-beige);
  opacity: 1;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  pointer-events: none;

  &.is-ended {
    opacity: 0;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.welcome-backdrop-message {
  max-width: 325px;
  margin: 0 auto;
  text-align: center;
}
