@import 'src/theme/base/mixins';

.home-page {
  padding-bottom: var(--size-l);

  .home-page__subtitle {
    max-width: 270px;
    margin: var(--size-s) auto var(--size-xs);
    text-align: center;
  }

  .home-page__section {
    margin-bottom: var(--size-xl);

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      display: flex;
      align-items: center;
      margin-bottom: var(--size-m);
      font-weight: var(--font-weight-bold);

      .tasks-counter {
        @include heading-5;
        width: 28px;
        height: 28px;
        margin-left: var(--size-xxs);
        background-color: var(--color-primary-salmon);
        border-radius: 50%;
        color: var(--color-white);
        line-height: 30px;
        text-align: center;
      }
    }
  }
}
