<ion-content [fullscreen]="true">
  <section class="your-care-team-list">
    <automagic-hero 
      *ngIf="heroConfig"
      [color]="heroConfig.color" 
      [template]="heroConfig.template" 
    ></automagic-hero>

    <div class="your-care-team-list__actions">
      <div class="action hotspot-element">
        <ion-icon src="/assets/icons/add.svg" size="extra-large"></ion-icon>
        <p>Add member</p>
      </div>
    </div>

    <div class="your-care-team-list__section ion-padding">
      <h5>My Care Team</h5>
      <automagic-accordion 
        *ngFor="let contact of myTeam" 
        [config]="contact" 
        class="hotspot-element">
      </automagic-accordion>
    </div>

    <div class="your-care-team-list__section ion-padding">
      <h5>Caregivers</h5>
      <automagic-accordion 
        *ngFor="let contact of caregivers"
        [config]="contact"
        class="hotspot-element">
      </automagic-accordion>
    </div>
  </section>
</ion-content>
