<div 
  class="rating-field"
  [ngClass]="{ 
    'is-invalid': error, 
    'is-disabled': disabled === true
  }">

  <p class="field-label" *ngIf="label">{{ label }}</p>
  <div class="rating-field__rates" [ngClass]="{ 'with-icons': showIcons }">
    <ng-container *ngIf="showIcons; else default">
      <div 
        class="icon" 
        *ngFor="let point of [1, 2, 3, 4, 5]" 
        (click)="updateValue(point)">

        <ion-icon src="/assets/images/rating-field--icons-{{ point }}.svg"></ion-icon>
        <p [ngSwitch]="point">
          <span *ngSwitchCase="1">Very Poor</span>
          <span *ngSwitchCase="2">Poor</span>
          <span *ngSwitchCase="3">Average</span>
          <span *ngSwitchCase="4">Good</span>
          <span *ngSwitchCase="5">Very Good</span>
        </p>
      </div>
    </ng-container>
    <ng-template #default>
      <p>{{ rates[0] }}</p>
      <p>{{ rates[1] }}</p>
    </ng-template>
  </div>
  <div class="rating-field__rate-line">
    <div 
      class="checkpoint" 
      *ngFor="let point of [1, 2, 3, 4, 5]; let i = index" 
      [ngClass]="{
        'is-selected': value === point || point <= value,
        'is-marked': (value === 2 && point === 1) || (value > 2 && value > point),
      }"
      (click)="updateValue(point)">

      <div class="checkpoint__line" *ngIf="point < 5"></div>
    </div>
  </div>
  <input 
    type="number" 
    [value]="value" 
  />
</div>
