@import 'src/theme/base/mixins';

.start-dose-inject-dose-notes {
  padding-bottom: var(--size-m);
  text-align: center;

  h3 {
    margin-top: var(--size-xl);
    margin-bottom: var(--size-l);
    font-weight: var(--font-weight-bold);
  }

  .add-photo-cta {
    margin-bottom: var(--size-m);
    text-align: left;

    ion-button {
      --padding-start: var(--size-xxxs);
    }
  }
}
