<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="slider-page" [ngStyle]="{ 'background-color': currentSlide.color }">
    <div class="slider-page__asset">
      <swiper #sliderAsset effect="fade" [allowTouchMove]="false">
        <ng-template class="slider-page__slide" swiperSlide *ngFor="let step of slides">
          <div style="text-align: center;">
            <img [src]="step.asset" />
          </div>
        </ng-template>
      </swiper>
    </div>

    <div class="slider-page__content" [ngClass]="{ 'is-expanded': config?.content.isExpanded }">
      <div class="wrapper-small">
        <div class="slider-page__navigation" [ngClass]="{ 'visibility-hidden': currentSlide.showNavigation === false }">
          <div class="swiper-pagination"></div>
        </div>

        <swiper 
          #sliderContent 
          effect="fade" 
          [allowTouchMove]="false" 
          [pagination]="{ el: '.swiper-pagination' }" 
          (slideChange)="slideChange()">

          <ng-template class="slider-page__slide" swiperSlide *ngFor="let step of slides">
            <div class="text-wrapper" [innerHTML]="sanitizeContent(step.content)"></div>

            <div class="cards-wrapper" *ngIf="step.cards">
              <automagic-card *ngFor="let card of step.cards" [card]="card"></automagic-card>
            </div>

            <div class="form-wrapper" *ngIf="step.form">
              <form [formGroup]="step.form.group" autocomplete="off">
                <div class="field-wrapper" *ngFor="let field of step.form.fields">
                  <p class="field-label">{{ field.label }}</p>
                  <ion-input 
                    color="purple" 
                    fill="outline" 
                    mode="md" 
                    placeholder="{{ field.placeholder }}" 
                    errorText="{{ step.form.group.get(field.name)?.errors?.['required'] ? 'Please enter your name' : null }}" 
                    (input)="field.onInput($event)" 
                    formControlName="{{ field.name }}" 
                  ></ion-input>
                </div>
              </form>
            </div>

            <div class="button-wrapper" *ngIf="step.button">
              <ion-button (click)="step.button.action()" color="purple">{{ step.button.label }}</ion-button>
            </div>
          </ng-template>
        </swiper>
      </div>

      <div class="wrapper-large" [style.background-color]="config?.content.bgColor ? 'var(' + config?.content.bgColor + ')': 'var(--color-white)'">
        <div class="wrapper-large__content">
          <div 
            class="wrapper-large__template" 
            *ngIf="config?.content.template" 
            [innerHTML]="sanitizeContent(config?.content.template)"
          ></div>

          <div class="wrapper-large__component">
            <ng-template #contentComponent></ng-template>
          </div>
        </div>

        <div *ngIf="config?.content.toolbar" class="wrapper-large__toolbar">
          <div 
            class="wrapper-large__toolbar-template" 
            *ngIf="config?.content.toolbar.template" 
            [innerHTML]="sanitizeContent(config?.content.toolbar.template)"
          ></div>

          <div *ngIf="config?.content.toolbar.actions" class="wrapper-large__toolbar-actions">
            <ion-button 
              *ngFor="let button of config?.content.toolbar?.actions; let i = index"
              color="purple" 
              size="large" 
              (click)="button.action($event)" 
              [fill]="i % 2 !== 1 && config?.content.toolbar?.actions.length > 1 ? 'outline': null">
              {{ button.label }}
            </ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
