@import 'src/theme/base/mixins';

:root {
  // minimum height for content element to show a row of buttons
  --slider-page-content-min-size: 100px;
}

.slider-page {
  display: grid;
  grid-template-rows: minmax(auto, calc(100vh - var(--slider-page-content-min-size)) ) max-content;
  height: 100vh;
  overflow: hidden;
  transition-property: background-color;
  transition-duration: 600ms;
  transition-timing-function: ease;

  .slider-page__header {
    grid-row: 1;
    width: 100vw;
    box-sizing: border-box;
    padding-top: var(--topbar-size);
    transition-property: height, padding-top;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;

    .content-wrapper {
      padding-right: var(--space-m);
      padding-left: var(--space-m);
      text-align: center;
    }

    .cards-wrapper {
      display: grid;
      gap: var(--space-s);
      padding-top: var(--space-s);
      padding-bottom: var(--space-l);

      automagic-card {
        .card {
          top: 60px;
          opacity: 0;
          transition-property: top, opacity;
          transition-duration: 400ms;
          transition-timing-function: ease-in;
        }

        @for $i from 1 through 9 {
          &:nth-child(#{$i + 1}) {
            .card {
              transition-delay: 500ms + ($i * 800ms);
            }
          }
        }
      }
    }

    .slider-page__header-slide {
      &:not(.swiper-slide-active) {
        opacity: 0 !important;
        pointer-events: none;
      }

      &.swiper-slide-active {
        .cards-wrapper {
          automagic-card {
            .card {
              top: 0;
              opacity: 1;
            }
          }
        }
      }

      .asset-wrapper {
        text-align: center;
      }
    }

    &.has-asset {
      height: 55vh;
    }

    &.has-template {
      swiper {
        height: 100%;
      }

      .content-wrapper {
        max-height: calc(100vh - (var(--topbar-size) + 100px));
        overflow-y: auto;
      }
    }
  }

  .slider-page__content {
    grid-row: 2;
    position: relative;
    z-index: 10;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    border-radius: 16px 16px 0px 0px;
    background-color: var(--color-white);

    &.has-template {
      height: 45vh;
    }

    .wrapper-small {
      position: relative;
      display: grid;
      grid-template-rows: max-content auto;
      gap: var(--space-xxxxs);
      height: 100%;

      .wrapper-small__navigation {
        grid-row: 1;
        padding-top: var(--space-l);
  
        &.visibility-hidden {
          display: none;
        }
  
        .swiper-pagination {
          position: relative;
  
          .swiper-pagination-bullet {
            &:first-child {
              display: none;
            }
  
            &-active {
              background: var(--color-primary-dark-blue);
            }
          }
        }
      }

      .wrapper-small__timeline {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        padding: var(--space-xs) var(--space-s) 0;

        .timeline-bar-progress {
          grid-row: 1;
          grid-column: 1 / -1;
          position: relative;
          height: var(--space-xxxs);
          border-radius: 4px;
          background-color: var(--color-gray-light);
          overflow: hidden;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            height: 100%;
            background-color: var(--color-primary-purple);
            transition-property: width;
            transition-duration: 400ms;
            transition-timing-function: ease;
          }

          @for $i from 1 through 100 {
            &.value-#{$i} {
              &:before {
                width: #{$i} + '%';
              }
            }
          }
        }

        .timeline-start,
        .timeline-end {
          grid-row: 2;
          font-size: var(--font-size-paragraph-xs);
          line-height: var(--font-line-height-paragraph-x);
          font-weight: var(--font-weight-bold);
        }

        .timeline-start {
          grid-column: 1;
        }

        .timeline-end {
          grid-column: 2;
          text-align: right;
        }
      }
  
      swiper {
        grid-row: 2;

        .wrapper-small__slide {
          display: grid;
          grid-template-rows: auto max-content;
          gap: var(--space-xxs);
          max-width: 100vw;
          padding: var(--space-xxxs) var(--space-m) var(--space-xl);
          box-sizing: border-box;
          text-align: center;
          overflow-y: scroll;
    
          &:not(.swiper-slide-active) {
            opacity: 0 !important;
            pointer-events: none;
          }

          .content-wrapper {
            grid-row: 1;
          }

          .actions-wrapper {
            grid-row: 2;
            display: flex;
            gap: var(--space-xxs);
            justify-content: center;
          }
    
          .template-wrapper {    
            h1 {
              margin-bottom: 24px;
            }
        
            h3 {
              margin-bottom: 4px;
            }
        
            p {
              margin-bottom: 16px;
        
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
    
          .cards-wrapper {
            automagic-card {
              margin-bottom: var(--space-xs);
    
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .wrapper-large {
      position: absolute;
      top: 0;
      left: 0;
      display: grid;
      grid-template-rows: auto max-content;
      gap: var(--space-xxs);
      width: 100%;
      height: 100%;
      padding-top: var(--space-l);
      opacity: 0;
      pointer-events: none;

      .wrapper-large__content {
        grid-row: 1;
        display: grid;
        grid-template-rows: max-content auto;
        padding-right: var(--space-s);
        padding-left: var(--space-s);
        overflow-y: auto;

        .wrapper-large__template {
          grid-row: 1;
          color: var(--color-black);
          text-align: center;
        }
  
        .wrapper-large__component {
          grid-row: 2;
        }
      }

      .wrapper-large__toolbar {
        grid-row: 2;
        padding: var(--space-xs) var(--space-s) var(--space-xl);
        box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.1);
        border-radius: 16px 16px 0px 0px;

        .wrapper-large__toolbar-template {
          margin-bottom: var(--space-xs);
          color: var(--color-black);
          text-align: center;

          p {
            margin: 0;
          }
        }

        .wrapper-large__toolbar-actions {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: var(--space-xxxs);
        }
      }
    }

    &.is-expanded {
      .wrapper-small {
        pointer-events: none;
      }

      .wrapper-large {
        z-index: 50;
        padding-top: var(--topbar-size);
        pointer-events: initial;

        > * {
          top: 0;
          opacity: 1;
          transition-timing-function: ease-in;
        }
      }
    }
  }

  &.is-full-size {
    .slider-page__header {
      padding-top: 0;

      swiper {
        height: 100%;
      }
      
      .content-wrapper {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  &.is-content-expanded {
    .slider-page__header {
      height: 0;
      padding-top: 0;
      overflow: hidden;
      transition-timing-function: ease-in;
    }

    .slider-page__content {
      height: 100vh;
      
      .wrapper-small {
        opacity: 0;
      }

      .wrapper-large {
        opacity: 1;
      }
    }
  }

  &.is-content-hidden {
    grid-template-rows: auto max-content;

    .slider-page__header {
      .content-wrapper {
        max-height: 100vh;
      }
    }

    .slider-page__content {
      height: 0;
      overflow: hidden;
    }
  }
}
