<ion-content>
  <div class="start-dose-prepare__survey">
    <h1 class="font-heading-1--bold ion-text-center">While you're waiting, how are you feeling?</h1>
    <p class="ion-text-center">Tracking these ratings over time can help you<br> and your care team understand how Theryx®<br> impacts your
      condition.</p>
  </div>

  <form class="start-dose-prepare-survey" [formGroup]="surveyFormGroup" autocomplete="off"><automagic-rating-field
      [label]="'Overall'" [value]="1" [rates]="['Not good', 'Good']"
      (onChage)="ratingFieldUpdate($event, 'overall')"></automagic-rating-field>

    <automagic-rating-field [label]="'Symptoms?'" [value]="1" [rates]="['Not good', 'Good']"
      (onChage)="ratingFieldUpdate($event, 'symptoms')"></automagic-rating-field>

    <automagic-rating-field [label]="'Energy level?'" [value]="1" [rates]="['Not good', 'Good']"
      (onChage)="ratingFieldUpdate($event, 'energyLevel')"></automagic-rating-field>
  </form>
</ion-content>
