<form class="start-dose-prepare-survey" [formGroup]="surveyFormGroup" autocomplete="off"><automagic-rating-field 
    [label]="'Overall'"
    [value]="1"
    [rates]="['Not good', 'Good']"
    (onChage)="ratingFieldUpdate($event, 'overall')"
  ></automagic-rating-field>  

  <automagic-rating-field 
    [label]="'Symptoms?'"
    [value]="1"
    [rates]="['Not good', 'Good']"
    (onChage)="ratingFieldUpdate($event, 'symptoms')"
  ></automagic-rating-field>  

  <automagic-rating-field 
    [label]="'Energy level?'"
    [value]="1"
    [rates]="['Not good', 'Good']"
    (onChage)="ratingFieldUpdate($event, 'energyLevel')"
  ></automagic-rating-field>  
</form>
