@import 'src/theme/base/mixins';

.pin-input {
  .pin-input__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--space-s);
  }

  .pin-input__digit {
    @include heading-1;
    width: 56px;
    height: 68px;
    box-sizing: border-box;
    padding: var(--space-xxs) var(--space-xs);
    border: 1px solid var(--color-gray);
    border-radius: 8px;
    background-color: transparent;
    text-align: center;

    &:focus {
      outline: 0;
      border-width: 2px;
      border-color: #8C5DF9;
    }
  }

  .error-message {
    @include paragraph-l;
    margin-bottom: var(--space-s);
    color: var(--color-primary-salmon--light);
  }

  &.is-invalid {
    .pin-input__digit {
      border-color: var(--color-primary-salmon--light);
    }
  }
}
