@import 'src/theme/base/mixins';

.resources-page__wrapper {
  --background: var(--color-bg-pastel-beige);
}

.resources-page {
  padding-top: var(--topbar-size);

  h1 {
    margin-bottom: var(--size-l);
    text-align: center;
  }
}

.resources-page__container {
  @include masonry-layout;
  gap: calc(var(--size-xs) - 5px);

  automagic-card  {
    position: relative;
  }
}
