.resources-page {
  --background: var(--color-bg-pastel-beige);
}

.resources-page-section {
  margin-top: 70px;

  h1 {
    text-align: center;
  }
  
  ion-col {
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  automagic-card {
    margin-bottom: 10px;
  }
}
