<ion-content [fullscreen]="true" class="resources-page">
  <section class="resources-page-section">
    <h1 class="font-heading-1--bold">Resources</h1>

    <ion-grid>
      <ion-row class="ion-align-items-start">
        <ion-col size="6"><automagic-card *ngFor="let card of cards_left" [card]="card"></automagic-card></ion-col>
        <ion-col size="6"><automagic-card *ngFor="let card of cards_right" [card]="card"></automagic-card></ion-col>
      </ion-row>
    </ion-grid>

  </section>
</ion-content>
