@import 'src/theme/base/mixins';

.resources-page__wrapper {
  --background: var(--color-bg-pastel-beige);
}

.resources-page {
  padding-top: var(--topbar-size);

  h1 {
    margin-bottom: var(--space-l);
    text-align: center;
  }
}

.resources-page__container {
  @include masonry-layout;
  gap: calc(var(--space-xs) - 5px);
}
