@import 'src/theme/base/mixins';

.start-dose-ready-to-inject {
  .start-dose-ready-to-inject__content {
    .body-shape {
      width: 100%;
      height: auto;

      &.top-left-selected {
        .body-shape__top-left {
          fill: var(--color-bg-pastel-purple);
        }
      }

      &.top-right-selected {
        .body-shape__top-right {
          fill: var(--color-bg-pastel-purple);
        }
      }

      &.bottom-left-selected {
        .body-shape__bottom-left {
          fill: var(--color-bg-pastel-purple);
        }
      }

      &.bottom-right-selected {
        .body-shape__bottom-right {
          fill: var(--color-bg-pastel-purple);
        }
      }
    }

    .pro-tip {
      position: relative;
      padding-left: var(--size-l);
      text-align: left;
  
      ion-icon {
        position: absolute;
        top: 0;
        left: 0;
        font-size: var(--size-m);
      }

      p {
        margin-top: 0;
        margin-bottom: var(--size-xxxxs);
        font-size: var(--font-size-paragraph-l);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    
    @keyframes spinner-animation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .loader {
      width: 48px;
      height: 48px;
      // border: 5px solid rgba(var(--color-primary-dark-blue--rgb), 0.3);
      border: 5px solid var(--color-primary-dark-blue);
      border-bottom-color: rgba(var(--color-primary-dark-blue--rgb), 0.3);
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: spinner-animation 1s linear infinite;
    }
  }
}

.no-needless-message {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
