@import 'src/theme/base/mixins';

.start-dose-prepare__instructions {
  text-align: center;

  .timer {
    p {
      margin-top: var(--space-xxxs);
      margin-bottom: var(--space-xxxs);
      font-size: 4rem;
      font-weight: var(--font-weight-extra-light);
    }
  }
}
