@import 'src/theme/base/mixins';

.start-guided-demo {
  padding-right: var(--size-xxl);
  padding-left: var(--size-xxl);
  color: var(--color-white);
  text-align: center;
}

.start-guided-demo-message {
  max-width: 290px;
  margin: 0 auto;
}
