<ion-content [fullscreen]="true" class="ion-padding">
  <section class="components-page">
    <h2>Buttons</h2>
    <ion-button>Default</ion-button>
    <ion-button [disabled]="true">Default Disabled</ion-button>
    <ion-button color="purple">Purple</ion-button>
    <ion-button color="salmon">Salmon</ion-button>
    
    <h2>Outline Buttons</h2>
    <ion-button fill="outline">Default Outline</ion-button>
    <ion-button fill="outline" [disabled]="true">Default Disabled Outline</ion-button>
    <ion-button color="purple" fill="outline">Purple Outline</ion-button>
    <ion-button color="salmon" fill="outline">Salmon Outline</ion-button>

    <h2>Navigation Header</h2>
    <said-topbar></said-topbar>

    <h2>Navigation Bottom</h2>
    <said-bottom-toolbar></said-bottom-toolbar>
  </section>
</ion-content>
