<ion-content [fullscreen]="true" class="ion-padding">
  <section class="components-page">
    <ion-button color="purple" [routerLink]="['/styleguide']">Go to Styleguide</ion-button>

    <h2>Rating Field</h2>
    <form [formGroup]="testFormGroup" autocomplete="off">
      <automagic-rating-field 
        [name]="'name'"
        [label]="'How are your symptoms?'"
        [value]="1"
        [showIcons]="true"
        [rates]="['Very Severe', 'Absent']"
      ></automagic-rating-field>

      <automagic-rating-field 
        [name]="'name'"
        [label]="'How are your symptoms?'"
        [value]="1"
        [rates]="['Very Severe', 'Absent']"
      ></automagic-rating-field>
    </form>

    <h2>Buttons</h2>
    <ion-button>Default</ion-button>
    <ion-button [disabled]="true">Default Disabled</ion-button>
    <ion-button color="purple">Purple</ion-button>
    <ion-button color="salmon">Salmon</ion-button>
  
    <h2>Outline Buttons</h2>
    <ion-button fill="outline">Default Outline</ion-button>
    <ion-button fill="outline" [disabled]="true">Default Disabled Outline</ion-button>
    <ion-button color="purple" fill="outline">Purple Outline</ion-button>
    <ion-button color="salmon" fill="outline">Salmon Outline</ion-button>

    <h2>Navigation Header</h2>
    <!-- <automagic-topbar></automagic-topbar> -->

    <h2>Navigation Bottom</h2>
    <automagic-bottom-toolbar></automagic-bottom-toolbar>

    <h2>Input</h2>
    <div class="field-wrapper field--required">
      <p class="field-label">Label</p>
      <ion-input 
        color="purple" 
        fill="outline" 
        mode="md" 
        placeholder="Value"
      ></ion-input>
    </div>

    <h2>Input disabled</h2>
    <div class="field-wrapper">
      <p class="field-label">Label</p>
      <ion-input 
        color="purple" 
        fill="outline" 
        mode="md" 
        placeholder="Value" 
        [disabled]="true"
      ></ion-input>
    </div>

    <h2>Input with erros</h2>
    <div class="field-wrapper  field--required">
      <p class="field-label">Label</p>
      <ion-input 
        color="purple" 
        fill="outline" 
        mode="md" 
        placeholder="Value" 
        errorText="Error message"
      ></ion-input>
    </div>

    <h2>Pin Input</h2>
    <automagic-pin-input></automagic-pin-input>
    
    <h2>Datepicker</h2>
    <automagic-datepicker></automagic-datepicker>

    <h2>Datepicker Continuous</h2>
    <automagic-datepicker [continuous]="true"></automagic-datepicker>

    <h2>Datepicker Continuous Multiple</h2>
    <automagic-datepicker [continuous]="true" [multiple]="true"></automagic-datepicker>
  </section>
</ion-content>
