<section id="backdrop" class="backdrop" [ngClass]="{ 
  'is-open': config.show, 
  'is-full-screen': config.fullScreen, 
  'is-content-centered': config.contentCentered || getType() === 'menu-main', 
  'transition-fade': config.transition === 'fade', 
  'transition-move': config.transition === 'move', 
  'bg-template': config.bgTemplate, 
  'bg-template--top-hole': config.bgTemplate === 'top-hole', 
  'bg-template--bottom-hole': config.bgTemplate === 'bottom-hole', 
  'bg-template--bottom-ellipse-hole': config.bgTemplate === 'bottom-ellipse-hole', 
  'has-buttons': config.buttons, 
}">
  <div 
    class="backdrop__wrapper" 
    [style.background-image]="config.bgTemplate 
      ? 'url(' + '/assets/images/backdrop-' + config.bgTemplate + '.svg' + ')'
      : null
    ">
    <header class="backdrop__header" *ngIf="config.header">
      <div class="back-button" *ngIf="backButton">
        <ion-button 
          class="hotspot-element" 
          (click)="backButton.action($event)" 
          fill="clear" color="light" size="small">

          <ion-icon name="chevron-back-outline" color="light"></ion-icon>
          {{ backButton.label }}
        </ion-button>
      </div>

      <ion-img class="logo" src="/assets/images/backdrop-header-logo.svg"></ion-img>
      <div class="background"></div>
      <ion-img class="ellipse" src="/assets/images/backdrop-header-ellipse.svg"></ion-img>

      <ng-container *ngIf="layoutConfig?.isDeviceConnected">
        <div class="battery-indicator__wrapper" *ngIf="batteryLevel <= 5 && layoutConfig.isDeviceConnected">
          <div class="battery-indicator">
            <ion-icon src="/assets/icons/battery-indicator-{{ getPercentageBatteryAsset(batteryLevel) }}.svg"></ion-icon>
            <p class="battery-indicator__value">{{ batteryLevel }}%</p>
          </div>
        </div>
      </ng-container>
    </header>

    <div class="backdrop__content">
      <div 
        class="backdrop__template" 
        *ngIf="config.template" 
        [innerHTML]="sanitizeContent(config.template)"
      ></div>

      <div class="backdrop__component">
        <ng-template #contentComponent></ng-template>
      </div>

      <div class="backdrop__actions" *ngIf="config.buttons">
        <ion-button 
          *ngFor="let button of config.buttons; let i = index" 
          class="hotspot-element {{ button.cssClasses ? button.cssClasses : null }}"
          (click)="button.action ? button.action($event) : null" 
          fill="outline" color="light">
          {{ button.label }}
        </ion-button>
      </div>

      <div class="main-menu" *ngIf="getType() === 'menu-main'">
        <swiper 
          #sliderMainMenu 
          effect="fade" 
          [allowTouchMove]="false"
          [autoHeight]="true"
          [initialSlide]="initialSlide"
          (swiper)="onMenuInit()"
          (slideChange)="onMenuChange()">
          <ng-template swiperSlide>
            <h1 class="font-heading-1--bold">Demo Menu</h1>
            <p>Here you’ll find guidance on resetting, packing, and sharing this demo experience.</p>
            <div *ngIf="layoutConfig?.isDeviceConnected" class="battery-indicator">
              <p>AutoMagic Injector Battery:</p>
              <ion-icon src="/assets/icons/battery-indicator-{{ getPercentageBatteryAsset(batteryLevel) }}.svg"></ion-icon>
              <span class="battery-indicator__value">{{ batteryLevel }}%</span>
            </div>

            <div class="links-container">
              <a class="link hotspot-element" (click)="goToSubmenu(1)">
                <ion-icon src="/assets/icons/flag.svg" slot="start" size="large"></ion-icon>
                <ion-label>I’m all done with the demo</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
              </a>
              <a class="link hotspot-element" (click)="goToSubmenu(2)">
                <ion-icon src="/assets/icons/time-loader.svg" slot="start" size="large"></ion-icon>
                <ion-label>Reset the demo</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
              </a>
              <a class="link hotspot-element" (click)="goToSubmenu(3)">
                <ion-icon src="/assets/icons/help.svg" slot="start" size="large"></ion-icon>
                <ion-label>Help! Something broke</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
              </a>
              <a class="link hotspot-element" (click)="goToSubmenu(4)">
                <ion-icon name="construct-outline" slot="start" size="large" color="light"></ion-icon>
                <ion-label>Debugging</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
              </a>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <h1 class="font-heading-1--bold">I’m all done</h1>

            <div class="buttons-container">
              <ion-button class="hotspot-element" fill="outline" expand="block" color="light">
                Share feedback
                <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
              </ion-button>

              <ion-button class="hotspot-element" fill="outline" expand="block" color="light" (click)="showShareFlow()">
                Share this demo kit
                <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
              </ion-button>

              <ion-button class="hotspot-element" fill="outline" expand="block" color="light" (click)="showReturnFlow()">
                Pack up and return
              </ion-button>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <h1 class="font-heading-1--bold">Reset the demo</h1>

            <div class="buttons-container">
              <ion-button 
                class="hotspot-element" 
                (click)="doAnotherInjection()" 
                fill="outline" expand="block" color="light">
                Do another injection
              </ion-button>

              <ion-button 
                class="hotspot-element" 
                (click)="resetDemo()" 
                fill="outline" expand="block" color="light">

                Restart from the beginning
              </ion-button>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <h1 class="font-heading-1--bold">Help! Something broke!</h1>

            <div class="buttons-container">
              <ion-button class="hotspot-element" fill="outline" expand="block" color="light">
                Pack up and return
              </ion-button>

              <ion-button class="hotspot-element" fill="outline" expand="block" color="light">
                View troubleshooting tips
              </ion-button>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <h1 class="font-heading-1--bold">Debugging</h1>

            <div class="buttons-container">
              <ion-button 
                class="hotspot-element"
                [ngClass]="{
                  'is-active': layoutConfig.noDeviceMode
                }"
                (click)="toggleDebuggingOptions('no-device-mode')"
                fill="outline" expand="block" color="light">
                Testing with No Device Mode
              </ion-button>

              <ion-button 
                class="hotspot-element"
                [ngClass]="{
                  'is-active': layoutConfig.noDeviceModeOopsFlow
                }"
                (click)="toggleDebuggingOptions('oops-flow')"
                fill="outline" expand="block" color="light">
                Testing of Oops Flow
              </ion-button>

              <ion-button 
                class="hotspot-element"
                [ngClass]="{
                  'is-active': layoutConfig.noDeviceModeBatteryLowFlow
                }"
                (click)="toggleDebuggingOptions('battery-low')"
                fill="outline" expand="block" color="light">
                Testing of Low Battery Flow
              </ion-button>

              <ion-button 
                class="hotspot-element"
                [ngClass]="{
                  'is-active': layoutConfig.debuggingDeviceMode
                }"
                (click)="toggleDebuggingOptions('device-debugging')"
                fill="outline" expand="block" color="light">
                Enable Device Debugging
              </ion-button>
            </div>
          </ng-template>
        </swiper>
      </div>

      <div class="highlights-tour" *ngIf="getType() === 'highlights-tour'">
        <swiper 
          #sliderHighlightsTour 
          effect="fade" 
          [allowTouchMove]="false" 
          (swiper)="onHighlightsTourInit()" 
          (slideChange)="onHighlightsTourChange()" 
          [autoHeight]="true">
          <ng-template swiperSlide>
            <h1 class="font-heading-1--bold">Highlights Tour</h1>
            <div class="cards-container masonry-layout">
              <automagic-card 
                *ngFor="let section of config.highlights; let i = index" 
                [card]="section" 
                [ngClass]="{
                  'hotspot-element': i === 0,
                }"
                (click)="goToSubmenu(i + 1)">
              </automagic-card>
            </div>
          </ng-template>
          
          <ng-container *ngFor="let section of config.highlights; let i = index">
            <ng-template swiperSlide *ngIf="section.detail" class="highlights-tour__slide">
              <div 
                class="highlights__detail" 
                [dinamicInnerHtml]="section.detail">
              </div>
            </ng-template>
          </ng-container>
        </swiper>
      </div>

      <div class="return-flow" *ngIf="getType() === 'return-flow'">
        <swiper 
          #sliderReturnFlow 
          effect="fade" 
          [allowTouchMove]="false">
          <ng-template swiperSlide>
            <div class="return-flow">
              <div class="return-flow__content">
                <h1 class="font-heading-1--bold">Return</h1>
                <p>Try to keep track of it - it will need to be returned</p>
                <ion-img src="/assets/images/return-flow-1.svg"></ion-img>
              </div>

              <div class="return-flow__actions">
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="goBackToMenu(1)">
                  Cancel
                </ion-button>
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="sliderReturnFlow.swiperRef.slideNext()">
                  Got it
                </ion-button>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="return-flow">
              <div class="return-flow__content">
                <ion-img src="/assets/images/return-flow-2.svg"></ion-img>
                <h5>1. Replace safety cap</h5>
              </div>

              <div class="return-flow__actions">
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="sliderReturnFlow.swiperRef.slidePrev()">
                  Cancel
                </ion-button>
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="sliderReturnFlow.swiperRef.slideNext()">
                  Got it
                </ion-button>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="return-flow">
              <div class="return-flow__content">
                <ion-img src="/assets/images/return-flow-3.svg"></ion-img>
                <h5>2. Put back in box and close lid</h5>
              </div>

              <div class="return-flow__actions">
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="sliderReturnFlow.swiperRef.slidePrev()">
                  Cancel
                </ion-button>
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="sliderReturnFlow.swiperRef.slideNext()">
                  Next
                </ion-button>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="return-flow">
              <div class="return-flow__content">
                <ion-img src="/assets/images/return-flow-4.svg"></ion-img>
                <h5>3. Replace injector box and the materials into the shipping box</h5>
              </div>

              <div class="return-flow__actions">
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="sliderReturnFlow.swiperRef.slidePrev()">
                  Cancel
                </ion-button>
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="sliderReturnFlow.swiperRef.slideNext()">
                  Next
                </ion-button>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="return-flow">
              <div class="return-flow__content">
                <ion-img src="/assets/images/return-flow-5.svg"></ion-img>
                <h5>4. Apply the prepaid return label, and drop off in your mailroom or package dropoff location</h5>
              </div>

              <div class="return-flow__actions">
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="toggle()">
                  Done
                </ion-button>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>

      <div class="share-flow" *ngIf="getType() === 'share-flow'">
        <swiper 
          #sliderShareFlow 
          effect="fade" 
          [allowTouchMove]="false">
          <ng-template swiperSlide>
            <div class="share-flow">
              <div class="share-flow__content">
                <ion-img src="/assets/images/share-flow-1.svg"></ion-img>
                <h1 class="font-heading-1--bold">Share experience</h1>
                <p>To reset and share make sure the cap is on, replace the injector in the box and close it.</p>

                <h5>It will turn itself off in 5 minutes</h5>
              </div>

              <div class="share-flow__actions" (click)="goBackToMenu(1)">
                <ion-button class="hotspot-element" fill="outline" color="light">
                  Cancel
                </ion-button>
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="slideNextShareFlow($event)">
                  Ok
                </ion-button>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="return-flow">
              <div class="return-flow__content">
                <ion-img src="/assets/images/return-flow-2.svg"></ion-img>
                <h5>1. Replace safety cap</h5>
              </div>

              <div class="return-flow__actions">
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="sliderShareFlow.swiperRef.slidePrev()">
                  Cancel
                </ion-button>
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="sliderShareFlow.swiperRef.slideNext()">
                  Got it
                </ion-button>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="return-flow">
              <div class="return-flow__content">
                <ion-img src="/assets/images/return-flow-3.svg"></ion-img>
                <h5>2. Put back in box and close lid</h5>
              </div>

              <div class="return-flow__actions">
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="sliderShareFlow.swiperRef.slidePrev()">
                  Cancel
                </ion-button>
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="sliderShareFlow.swiperRef.slideNext()">
                  Next
                </ion-button>
              </div>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="return-flow">
              <div class="return-flow__content">
                <ion-img src="/assets/images/return-flow-4.svg"></ion-img>
                <h5>3. Replace injector box and the materials into the shipping box</h5>
              </div>

              <div class="return-flow__actions">
                <ion-button class="hotspot-element" fill="outline" color="light" (click)="toggle()">
                  Done
                </ion-button>
              </div>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>

    <ion-icon 
      class="backdrop__close hotspot-element" 
      name="chevron-up-outline" 
      *ngIf="config.fullScreen && config.bgTemplate" 
      (click)="toggle()" 
    ></ion-icon>

    <div 
      class="backdrop__fold {{ this.layoutConfig.deviceModel?.model }}" 
      [ngClass]="{ 
        'is-physical-device': layoutConfig.deviceModel,
        'is-iphone-x': this.layoutConfig.deviceModel?.model.includes('iphone-x'),
        'is-iphone-11': [
          'iphone12,1', 
          'iphone12,2', 
          'iphone12,3', 
          'iphone12,4', 
          'iphone12,5'
        ].includes(layoutConfig.deviceModel?.model),
        'is-iphone-12': [
          'iphone13,1', 
          'iphone13,2', 
          'iphone13,3', 
          'iphone13,4', 
          'iphone13,5'
        ].includes(layoutConfig.deviceModel?.model),
        'is-iphone-13': [
          'iphone14,1', 
          'iphone14,2', 
          'iphone14,3', 
          'iphone14,4', 
          'iphone14,5'
        ].includes(layoutConfig.deviceModel?.model),
        'is-iphone-14': [
          'iphone14,7', 'iphone14,8'
        ].includes(layoutConfig.deviceModel?.model),
        'is-iphone-14-pro': [
          'iphone15,2', 'iphone15,3'
        ].includes(layoutConfig.deviceModel?.model),
      }">

      <ng-container *ngIf="layoutConfig.deviceModel">
        <ion-img 
          class="background" 
          *ngIf="
            layoutConfig.deviceModel?.name.includes('iphone-x') || 
            layoutConfig.deviceModel?.model === 'iphone10,6'" 
          src="/assets/images/backdrop-fold-bg--iphone-x.svg"
        ></ion-img>
        <ion-img 
          class="background" 
          *ngIf="[
            'iphone12,1', 
            'iphone12,2', 
            'iphone12,3', 
            'iphone12,4', 
            'iphone12,5'
          ].includes(layoutConfig.deviceModel?.model)"
          src="/assets/images/backdrop-fold-bg--iphone-11.svg"
        ></ion-img>
        <ion-img 
          class="background" 
          *ngIf="[
            'iphone13,1', 
            'iphone13,2', 
            'iphone13,3', 
            'iphone13,4', 
            'iphone13,5'
          ].includes(layoutConfig.deviceModel?.model)"
          src="/assets/images/backdrop-fold-bg--iphone-12.png"
        ></ion-img>
        <ion-img 
          class="background" 
          *ngIf="[
            'iphone14,1', 
            'iphone14,2', 
            'iphone14,3', 
            'iphone14,4', 
            'iphone14,5'
          ].includes(layoutConfig.deviceModel?.model)"
          src="/assets/images/backdrop-fold-bg--iphone-13.svg"
        ></ion-img>
        <ion-img 
          class="background" 
          *ngIf="['iphone14,7', 'iphone14,8'].includes(layoutConfig.deviceModel?.model)"
          src="/assets/images/backdrop-fold-bg--iphone-14.svg"
        ></ion-img>
        <ion-img 
          class="background" 
          *ngIf="['iphone15,2', 'iphone15,3'].includes(layoutConfig.deviceModel?.model)"
          src="/assets/images/backdrop-fold-bg--iphone-14-pro.svg"
        ></ion-img>
      </ng-container>

      <ng-container *ngIf="!layoutConfig.deviceModel">
        <ion-img class="background" src="/assets/images/backdrop-fold-bg.svg"></ion-img>
      </ng-container>

      <div (click)="toggle()" class="icon-cta">
        <ion-icon class="info hotspot-element" src="/assets/icons/info.svg"></ion-icon>
        <ion-icon class="close hotspot-element" name="chevron-up-outline"></ion-icon>
      </div>
    </div>
  </div>
</section>
