<section id="backdrop" class="backdrop" [ngClass]="{ 
  'is-open': config.show, 
  'is-full-screen': config.fullScreen, 
  'transition-fade': config.transition === 'fade', 
  'transition-move': config.transition === 'move', 
  'bg-template': config.bgTemplate, 
  'bg-template--top-hole': config.bgTemplate === 'top-hole', 
  'bg-template--bottom-hole': config.bgTemplate === 'bottom-hole', 
}">
  <div 
    class="backdrop__wrapper" 
    [style.background-image]="config.bgTemplate 
      ? 'url(' + '/assets/images/backdrop-' + config.bgTemplate + '.svg' + ')'
      : null
    ">

    <header class="backdrop__header" *ngIf="config.header">
      <ion-button 
        class="back-button" 
        *ngIf="config.backButton" 
        (click)="config.backButton?.action($event)" 
        fill="clear" color="light" size="small">

        <ion-icon name="chevron-back-outline" color="light"></ion-icon>
        {{ config.backButton?.label }}
      </ion-button>

      <ion-img class="logo" src="/assets/images/backdrop-header-logo.svg"></ion-img>
      <ion-img class="ellipse" src="/assets/images/backdrop-header-ellipse.svg"></ion-img>
    </header>

    <div class="backdrop__content">
      <div 
        class="backdrop__template" 
        *ngIf="config.template" 
        [innerHTML]="sanitizeContent(config.template)"
      ></div>

      <div class="backdrop__component">
        <ng-template #contentComponent></ng-template>
      </div>

      <ion-icon 
        class="close" 
        name="chevron-up-outline" 
        *ngIf="config.fullScreen && config.bgTemplate" 
        (click)="toggle()" 
      ></ion-icon>

      <div class="main-menu" *ngIf="isContentEmpty()">
        <swiper 
          #sliderMainMenu 
          effect="fade" 
          [allowTouchMove]="false">
          <ng-template swiperSlide>
            <h1 class="font-heading-1--bold">Demo Menu</h1>
            <p>Here you’ll find guidance on resetting, packing, and sharing this demo experience.</p>
            <div class="battery-indicator">
              <p>AutoMagic Injector Battery:</p>
              <ion-icon src="/assets/icons/battery-indicator.svg"></ion-icon>
              <span class="battery-indicator__value">47%</span>
            </div>

            <ion-list lines="full">
              <ion-item (click)="showSubmenu(1)">
                <ion-icon src="/assets/icons/flag.svg" slot="start" size="large"></ion-icon>
                <ion-label>I’m all done with the demo</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
              </ion-item>
              <ion-item (click)="showSubmenu(2)">
                <ion-icon src="/assets/icons/time-loader.svg" slot="start" size="large"></ion-icon>
                <ion-label>Reset the demo</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
              </ion-item>
              <ion-item (click)="showSubmenu(3)">
                <ion-icon src="/assets/icons/help.svg" slot="start" size="large"></ion-icon>
                <ion-label>Help! Something broke</ion-label>
                <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
              </ion-item>
            </ion-list>
          </ng-template>

          <ng-template swiperSlide>
            <h1 class="font-heading-1--bold">I’m all done</h1>

            <div class="buttons-container">
              <ion-button fill="outline" expand="block" color="light">
                Share feedback
                <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
              </ion-button>

              <ion-button fill="outline" expand="block" color="light">
                Share this demo kit
                <ion-icon name="chevron-forward-outline" slot="end" color="light"></ion-icon>
              </ion-button>

              <ion-button fill="outline" expand="block" color="light">
                Pack up and return
              </ion-button>

              <ion-button fill="outline" expand="block" color="light">
                Learn more about AutoMagic
                <ion-icon name="information-circle-outline" slot="end" color="light" size="large"></ion-icon>
              </ion-button>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <h1 class="font-heading-1--bold">Reset the demo</h1>

            <div class="buttons-container">
              <ion-button fill="outline" expand="block" color="light">
                Do another injection
              </ion-button>

              <ion-button fill="outline" expand="block" color="light">
                Restart from the beginning
              </ion-button>
            </div>
          </ng-template>

          <ng-template swiperSlide>
            <h1 class="font-heading-1--bold">Help! Something broke!</h1>

            <div class="buttons-container">
              <ion-button fill="outline" expand="block" color="light">
                Pack up and return
              </ion-button>

              <ion-button fill="outline" expand="block" color="light">
                View troubleshooting tips
              </ion-button>
            </div>
          </ng-template>
        </swiper>
      </div>
    </div>

    <div class="backdrop__fold" (click)="toggle()">
      <ion-icon *ngIf="!config.show" class="info" src="/assets/icons/info.svg"></ion-icon>
      <ion-icon *ngIf="config.show" class="close" name="chevron-up-outline"></ion-icon>
    </div>
  </div>
</section>
