@import 'src/theme/base/mixins';

:root {
  --backdrop-size: calc(75vh + 35px);
}

.backdrop {
  position: absolute;
  top: calc(var(--backdrop-size) * -1);
  left: 0;
  z-index: 100;
  width: 100vw;

  &::before {
    content: '';
    position: absolute;
    bottom: -25vh;
    left: 0;
    width: 100vw;
    height: 50vh;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    pointer-events: none;
  }

  .backdrop__wrapper {
    position: relative;
    z-index: 100;
    display: grid;
    grid-template-rows: max-content auto;
    min-height: var(--backdrop-size);
    background-color: var(--color-black);
  }

  .backdrop__header {
    position: relative;
    z-index: 50;
    grid-row: 1;
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: var(--size-xxl);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: var(--size-xxl);
      background-color: var(--color-black);
    }

    .back-button {
      grid-row: 1;
      grid-column: 1;
      height: 45px;
    }

    .logo {
      grid-row: 1;
      grid-column: 2;
      width: 135px;
      margin: var(--size-s) auto 0;
    }

    .battery-indicator__wrapper {
      grid-row: 1;
      grid-column: 3;
      text-align: center;

      .battery-indicator {
        position: relative;
        display: inline-block; 
      }

      ion-icon {
        font-size: 48px;
      }

      .battery-indicator__value {
        position: absolute;
        margin: 0;
        width: 40px;
        text-align: center;
        left: calc(50% - 20px);
        bottom: 6px;
        color: var(--color-white);
        font-size: var(--font-size-paragraph-xs);
        font-weight: var(--font-weight-semibold);
      }
    }

    .background {
      grid-row: 1;
      grid-column: 1 / -1;
      z-index: -10;
      width: 100%;
      height: 100%;
      background-color: var(--color-black);
    }

    .ellipse {
      grid-row: 2;
      grid-column: 1 / -1;
      width: 100%;
    }
  }

  .backdrop__content {
    grid-row: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: max-content;
    overflow-y: auto;
    margin-top: calc(var(--size-xxxl) * -1);
    margin-right: auto;
    margin-left: auto;
    padding-top: var(--size-xxxl);

    > * {
      width: 100%;
    }

    .backdrop__template {
      color: var(--color-white);
      text-align: center;

      p {
        font-size: var(--font-size-paragraph-l);
        font-weight: var(--font-weight-medium);
      }
      
      ion-button {
        display: inline-block;
      }

      .buttons-container {
        margin-top: var(--size-l);

        ion-button {
          display: block;
          margin-bottom: var(--size-m);

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .start-dose-message,
      .no-needless-message,
      .no-need-to-clean-message,
      .simulate-flares-up-message,
      .start-dose-inject-done-message {
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }
    }

    .backdrop__component {
      .pin-input {
        .pin-input__digit {
          color: var(--color-white);
        }
      }
  
      .datepicker {
        .month {
          .month__title,
          .month__weekdays,
          .month__week {
            td {
              color: var(--color-white);
            }
          }
  
          .month__week {
            td {
              &.is-today {
                background-color: var(--color-primary-green);
              }
              
              &.is-selected {
                background-color: var(--color-gray-dark);
                color: var(--color-white);
              }
            }
          }
        }
      }
    }

    .backdrop__actions {
      display: flex;
      gap: var(--size-xxs);
      justify-content: center;
      align-items: center;
      margin-bottom: var(--size-l);
    }

    .buttons-container {
      margin-top: var(--size-l);

      ion-button {
        display: block;
        margin-bottom: var(--size-m);

        &:last-child {
          margin-bottom: 0;
        }

        &.is-active {
          &::part(native) {
            background: var(--color-white);
            color: var(--color-text);
          }
        }
      }
    }

    .links-container {
      .link {
        display: grid;
        grid-template-columns: max-content auto max-content;
        align-items: center;
        gap: var(--size-xxs);
        height: 48px;
        margin-bottom: var(--size-xs);
        padding-bottom: var(--size-xs);
        border-bottom: 1px solid var(--color-gray-dark);

        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
        }

        &.hotspot-element {
          position: relative;

          &::before {
            top: -8px;
          }
        }

        ion-icon[slot="start"] {
          grid-column: 1;
        }

        ion-label {
          grid-column: 2;
          color: var(--color-white);
          font-weight: var(--font-weight-extrabold);
          text-align: left;
        }

        ion-icon[slot="end"] {
          grid-column: 3;
          font-size: var(--font-size-heading-3);
        }
      }
    }

    .main-menu,
    .highlights-tour {
      display: flex;
      color: var(--color-white);

      swiper {
        .swiper-slide {
          text-align: center;

          &:not(.swiper-slide-active) {
            opacity: 0 !important;
          }
        }
      }
    }

    .main-menu {
      align-items: center;
      padding-right: var(--size-xxl);
      padding-left: var(--size-xxl);

      swiper {
        .swiper-slide {
          .battery-indicator {
            position: relative;

            p {
              margin-bottom: 0;
              font-weight: var(--font-weight-bold);
            }

            ion-icon {
              font-size: 60px;
            }

            .battery-indicator__value {
              position: absolute;
              width: 40px;
              text-align: center;
              left: calc(50% - 20px);
              bottom: 15px;
              font-size: var(--font-size-paragraph-xs);
            }
          }

          ion-list {
            --ion-item-background: transparent;

            ion-item {
              height: 48px;
              margin-top: var(--size-xxxs);
              margin-bottom: var(--size-xxxs);

              &:last-child {
                --border-width: 0;
              }

              ion-icon {
                margin-top: 0;
              }
            }

            ion-label {
              --color: var(--color-white);
              font-weight: var(--font-weight-extrabold);
            }
          }
        }
      }
    }

    .highlights-tour {
      padding-right: var(--size-m);
      padding-left: var(--size-m);

      h1 {
        margin-bottom: var(--size-l);
        color: var(--color-white);
      }

      .cards-container {
        @include masonry-layout;
        max-width: 340px;
        margin: 0 auto;

        automagic-card {
          &.hotspot-element {
            position: relative;
          }
        }

        .card {
          .card__wrapper {
            padding: 0;
            background-color: transparent;
            border: none;
          }

          .card__content {
            gap: 0;
            border-radius: 10px;
            overflow: hidden;
          }
          
          .card__image {
            width: 100%;
            height: 134px;
            background-color: var(--color-bg-dark-gray-blue);

            ion-img {
              display: block;
              margin: 0 auto;
            }
          }

          .card__text {
            flex: 1 1 0;
            padding: var(--size-xxs);
            background-color: var(--color-bg-dark-gray-blue-dark);
          }

          .card__description {
            @include paragraph-s;
          }
        }
      }

      .highlights__detail {
        color: var(--color-white);

        h1 {
          margin-bottom: var(--size-xxl);
        }

        .highlights__detail-section {
          margin-bottom: var(--size-xxxl);

          &:last-child {
            margin-bottom: 0;
          }

          &.color-salmon {
            h2 {
              color: var(--color-bg-dark-light-salmon);
            }
            
            .box-wrapper {
              .indicator {
                background-color: var(--color-bg-dark-light-salmon);
              }

              .eyebrow {
                color: var(--color-bg-dark-light-salmon);

                &::before,
                &::after {
                  background-color: var(--color-bg-dark-light-salmon);
                }
              }
            }
          }

          &.color-honey-yellow {
            h2 {
              color: var(--color-bg-dark-light-honey-yellow);
            }

            .box-wrapper {
              .indicator {
                background-color: var(--color-bg-dark-light-honey-yellow);
              }

              .eyebrow {
                color: var(--color-bg-dark-light-honey-yellow);

                &::before,
                &::after {
                  background-color: var(--color-bg-dark-light-honey-yellow);
                }
              }
            }
          }

          &.color-green {
            h2 {
              color: var(--color-bg-dark-light-gren);
            }

            .box-wrapper {
              .indicator {
                background-color: var(--color-bg-dark-light-green);
              }

              .eyebrow {
                color: var(--color-bg-dark-light-green);

                &::before,
                &::after {
                  background-color: var(--color-bg-dark-light-green);
                }
              }
            }
          }

          &.color-tiffany-blue {
            h2 {
              color: var(--color-bg-dark-light-tiffany-blue);
            }

            .box-wrapper {
              .indicator {
                background-color: var(--color-bg-dark-light-tiffany-blue);
              }

              .eyebrow {
                color: var(--color-bg-dark-light-tiffany-blue);

                &::before,
                &::after {
                  background-color: var(--color-bg-dark-light-tiffany-blue);
                }
              }
            }
          }

          &.color-blue {
            h2 {
              color: var(--color-bg-dark-light-blue);
            }

            .box-wrapper {
              .indicator {
                background-color: var(--color-bg-dark-light-blue);
              }

              .eyebrow {
                color: var(--color-bg-dark-light-blue);

                &::before,
                &::after {
                  background-color: var(--color-bg-dark-light-blue);
                }
              }
            }
          }

          &.color-purple {
            h2 {
              color: var(--color-bg-dark-light-purple);
            }

            .box-wrapper {
              .indicator {
                background-color: var(--color-bg-dark-light-purple);
              }

              .eyebrow {
                color: var(--color-bg-dark-light-purple);

                &::before,
                &::after {
                  background-color: var(--color-bg-dark-light-purple);
                }
              }
            }
          }
        }

        ion-img {
          height: 180px;
          margin-bottom: var(--size-xl);
        }

        .box-wrapper {
          position: relative;
          margin-bottom: var(--size-xxl);
          padding: var(--size-xl) var(--size-xs) var(--size-s);
          background-color: var(--color-bg-dark-gray-blue);
          border-radius: 12px;

          &:last-child {
            margin-bottom: 0;
          }

          .indicator {
            @include heading-3;
            position: absolute;
            top: -44px;
            left: calc(50% - 24px);
            width: 48px;
            height: 48px;
            border-radius: 50%;
            color: var(--color-text);
            font-weight: var(--font-weight-bold);
            line-height: 48px;
            text-align: center;
          }

          h3 {
            @include heading-5;
            margin-top: 0;
            margin-bottom: var(--size-xxs);
            font-weight: var(--font-weight-bold);
          }

          p {
            text-align: left;

            &.eyebrow {
              @include paragraph-xs;
              margin-bottom: var(--size-xxs);
              text-transform: uppercase;
              text-align: center;
  
              &::before,
              &::after {
                content: '';
                width: 16px;
                height: 1px;
                padding-top: var(--size-xxxs);
              }
  
              &::before {
                margin-right: var(--size-xxs);
              }
  
              &::after {
                margin-left: var(--size-xxs);
              }
            }
          }
        }
      }
    }

    .return-flow,
    .share-flow {
      display: grid;
      grid-template-rows: auto max-content;
      max-width: 100vw;
      height: 100%;
      padding-bottom: var(--size-s);
      color: var(--color-white);
      text-align: center;
      overflow-x: hidden;

      swiper {
        .swiper-slide {
          max-width: 100vw;
          text-align: center;

          &:not(.swiper-slide-active) {
            opacity: 0 !important;
          }

          &:nth-child(n+2) {
            padding-top: var(--size-xxxxl);
          }
        }
      }

      ion-img {
        width: 280px;
        margin: 0 auto;
      }

      &__content,
      &__actions {
        padding-right: var(--size-s);
        padding-left: var(--size-s);
      }

      &__content {
        grid-row: 1;

        p {
          @include paragraph-l;
        }

        h5 {
          max-width: 300px;
          margin-right: auto;
          margin-left: auto;
        }
      }

      &__actions {
        grid-row: 2;

        ion-button {
          margin-right: var(--size-xxs);
          margin-left: var(--size-xxs);
        }
      }
    }

    .return-flow {
      height: 100%;
    }

    .share-flow {
      &__content {
        h1, p {
          max-width: 300px;
          margin-right: auto;
          margin-left: auto;
        }

        h5 {
          margin-bottom: var(--size-s);
        }
      }
    }
  }

  .backdrop__fold {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    pointer-events: none;

    .icon-cta {
      position: absolute;
      top: 0;
      left: calc(50% - 22vw);
      display: grid;
      grid-template-columns: 1fr max-content 1fr;
      grid-template-rows: 1fr;
      align-items: center;
      width: 44vw;
      height: 11vh;
      pointer-events: all;
    }

    ion-icon {
      grid-row: 1;
      grid-column: 2;
      position: relative;
      color: var(--color-white);
      transition-property: top, opacity;
      transition-duration: 300ms;
      transition-delay: 200ms;
      transition-timing-function: ease-in-out;

      &.info {
        opacity: 1;
        font-size: 64px;
      }

      &.close {
        top: 25px;
        display: block;
        margin: 0 auto;
        opacity: 0;
        font-size: 40px;
      }
    }

    &.is-physical-device {
      width: 100vw;

      &.is-iphone-11,
      &.is-iphone-12 {
        .icon-cta {
          left: calc(50% - 29vw);
          width: 58vw;
          height: 10vh;
        }
      }

      &.is-iphone-12 {
        .icon-cta {
          height: 11vh;
        }
      }
  
      &.is-iphone-14-pro {
        .icon-cta {
          height: 12vh;
        }

        ion-icon {
          &.info {
            top: 12px;
          }
        }
      }

      &.is-iphone-14-pro-max {
        .icon-cta {
          height: 12vh;
        }

        ion-icon {
          &.info {
            top: 5px;
          }
        }
      }
    }
  }

  &.is-full-screen {
    top: -100vh;

    &::before {
      display: none;
    }

    .backdrop__wrapper {
      height: 100vh;
    }

    .backdrop__content {
      // 162px is the size of the header element including all - 40px of
      // inverted margin at the top the parts + extra bottom space to 
      // visualize everything correctly
      max-height: calc(100vh - (122px + var(--size-s)));
    }
  }

  &.is-content-centered {
    .backdrop__wrapper {
      align-items: center;
    }

    .backdrop__content {
      justify-content: center;
    }
  }

  &.bg-template {
    .backdrop__wrapper {
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      text-align: center;

      .backdrop__close {
        position: absolute;
        left: calc(50% - 22.5px);
        color: var(--color-white);
        font-size: 45px;
      }
    }

    &.bg-template--top-hole {
      .backdrop__content {
        justify-content: flex-end;
        padding-bottom: 15vh;
      }

      .backdrop__wrapper {
        .backdrop__close {
          bottom: 5vh;
        }
      }

      &.has-buttons {
        .backdrop__content {
          padding-bottom: 8vh;
        }
      }
    }

    &.bg-template--bottom-hole {
      .backdrop__content {
        justify-content: flex-start;
        padding-top: calc(var(--size-xxxl) * 2);
      }

      .backdrop__close {
        bottom: 40vh;
      }
    }

    &.bg-template--bottom-ellipse-hole {
      .backdrop__close {
        bottom: 5vh;
      }
    }
  }
  
  &.is-open {
    &::before {
      opacity: 1;
      transition-delay: 500ms;
      transition-timing-function: ease-in;
      pointer-events: initial;
    }

    .backdrop__fold {
      ion-icon {
        transition-delay: 600ms;

        &.info {
          opacity: 0;
          pointer-events: none;
        }

        &.close {
          position: relative;
          top: 0;
          opacity: 1;
        }
      }

      &.is-native-device {
        ion-icon {
          &.info {
            top: 15px;
          }
        }
      }
    }

    &.transition-move {
      .backdrop__fold {
        top: 100%;
      }
    }
  }
}
