<ion-content [fullscreen]="true">
  <section class="mindful-assistant-page">
    <automagic-hero 
      *ngIf="heroConfig"
      [color]="heroConfig.color" 
      [template]="heroConfig.template" 
    ></automagic-hero>

    <div class="mindful-assistant-page__content ion-padding">
      <p class="description">Looks like you might be stressed about your injection. <strong>Need some help?</strong></p>

      <div class="mindful-assistant-page__cards">
        <automagic-card 
          *ngFor="let card of cards" 
          [card]="card"
        ></automagic-card>
      </div>
    </div>
  </section>
</ion-content>
