// Old version
// @import 'src/theme/base/mixins';

// .mindful-assistant-page {
//   .mindful-assistant-page__content {
//     .description {
//       @include paragraph-m;
//       text-align: center;
//     }

//     .mindful-assistant-page__cards {
//       display: grid;
//       grid-template-columns: 1fr 1fr;
//       gap: var(--size-xxs);
  
//       automagic-card {
//         &:last-child {
//           grid-column: 1 / -1;
//         }
//       }
//     }  
//   }
// }

.mindful-assistant-start-page__wrapper {
  --background: var(--color-bg-pastel-green);
}

.mindful-assistant-start-page {
  text-align: center;

  h1 {
    padding-top: var(--topbar-size);
    margin-bottom: var(--size-m);
  }

  .mindful-assistant-start-page__content {
    ion-button {
      margin-top: var(--size-s);
    }
  }

  .mindful-assistant-start-page__asset {
    padding-top: var(--size-l);

    ion-img {
      width: 280px;
      margin: 0 auto;
    }
  }
}
